---
layout: default
---
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5433f951335f264a" async="async"></script>

<!-- Proyectos -->

<section id="proyectos">
  {% include projects.html %}
</section>
<section id="blog" class="clearfix">
    {% include blog.html %}
</section>

<section id="sobre-nosotros">
  <h2>Sobre Nosotros</h2>
  <div class="menu-interno"><a href="#quienessomos"> Quiénes somos </a>/<a href="#independencia"> Independencia política </a>/<a href="#areas"> Nuestras áreas</a></div>
      <p>La misión de Ciudadano Inteligente es fortalecer la democracia y reducir la desigualdad en América Latina, promoviendo la transparencia y la participación ciudadana a través del uso innovador de las tecnologías de la información.</p>
      <p>Trabajamos con la visión de transferir poder desde los pocos hacia los muchos, toda vez que el poder político y económico se concentre de manera artificial. Para ello nos valemos de la transparencia, las tecnologías de la información y la participación colectiva como herramientas de cambio.</p>

    <div id="quienessomos"></div>
      <h3>Quiénes somos</h3>
      <p class="h4 destacado">Somos una organización laica, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual. Buscamos aportar a una sociedad justa e incluyente, donde ciudadanos y ciudadanas tenemos los mismos derechos y oportunidades.</p>
      <div class="row">
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-equipo">El equipo</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-directorio">El directorio</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-hanparticipado">Han participado</button></div>
      </div>

      <div class="modal fade modal-equipo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">El Equipo</h4>
            </div>
            <div class="modal-body">
              {% include equipo.html %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade modal-directorio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">El Directorio</h4>
            </div>
            <div class="modal-body">
              {% include directorio.html %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade modal-hanparticipado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Han Participado</h4>
            </div>
            <div class="modal-body">
              {% include han-participado.html %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <div id="independencia"></div>
      <h3>Independencia política</h3>
      <p>Los miembros de Ciudadano Inteligente no somos apolíticos, sino todo la contrario: concebimos la buena política como una herramienta fundamental de transformación social, y cómo tal, nos proponemos generar los adecuados incentivos para que la política funcione bien, buscando que quienes ostentan cargos de representación popular se deban a sus ciudadanos y ciudadanas, y no a otros intereses particulares.</p>
      <p>Al interior de Ciudadano Inteligente hay miembros de diversas tendencias políticas, sin embargo, como organización no adscribimos a ningún partido político ni movimiento. Para asegurar nuestra total independencia Ciudadano Inteligente no recibe financiamiento del Gobierno, ni de Partidos, ni de ninguna organización gremial que tenga intereses políticos. Asimismo, por vía de un proceso riguroso, nos aseguramos de que todas nuestras investigaciones e informes se sustenten en metodologías sólidas y transparentes, abiertas al escrutinio de quien nos quiera fiscalizar. La lealtad política de Ciudadano Inteligente está puesta en los ciudadanos y ciudadanas, y en el cuidado y profundización de la democracia como sistema de gobierno.</p>

    <div id="areas">

      <h3>Nuestras áreas</h3>
        <div class="row">
          <div class="col-md-10 col-md-offset-2"><h4>Lab</h4></div>
        </div>
        <div class="row">
          <div class="col-md-2 hidden-xs"><img src="img/ico-lab.svg"></div>
          <div class="col-md-10">Desarrollamos tecnología web para transparentar, fiscalizar y hacernos ciudadanos y ciudadanas partícipes de las decisiones que nos afectan. En el Taller Digital desarrollamos tecnología de y para la ciudadanía. Innovamos en el desarrollo de aplicaciones web open source, destinadas a promover transparencia y participación cívica en América Latina. <a href="http://blog.ciudadanointeligente.org/tagged/lab" target="_blank">Ver reportes</a></div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2"><h4>Incidencia</h4></div>
        </div>
        <div class="row">
          <div class="col-md-2 hidden-xs"><img src="img/ico-incidencia.svg"></div>
          <div class="col-md-10">Trabajamos para promover e incidir en las políticas de transparencia; fortalecer y ampliar el derecho de acceso a información pública; fomentar y robustecer la participación ciudadana; e incrementar una mayor y mejor rendición de cuentas de los gobiernos latinoamericanos.<a href="http://blog.ciudadanointeligente.org/tagged/incidencia" target="_blank">Ver reportes</a></div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2"><h4>Comunidad y redes</h4></div>
        </div>
        <div class="row">
          <div class="col-md-2 hidden-xs"><img src="img/ico-redes.svg"></div>
          <div class="col-md-10">Entendemos que somos parte de un tejido social, y por lo mismo conectamos a ciudadanos y ciudadanas, ONGs y hackers para buscar soluciones tecnológicas a problemas públicos. Nuestra forma de trabajo es colectiva. Ciudadano Inteligente promueve el desarrollo de comunidades y redes entre la sociedad civil, voluntarios, hackers cívicos, sector público, y toda organización que comparta la visión de profundizar democracia con transparencia, participación y tecnología.<a href="http://blog.ciudadanointeligente.org/tagged/comunidad" target="_blank">Ver reportes</a></div>
        </div>
    </div>

</section>

<section id="transparencia">
  <h2>Transparencia</h2>
  <div class="menu-interno"><a href="#estatutos" target="_blank"> Estatutos </a>/<a href="#desclasificacion"> Desclasificación </a>/<a href="#financiamiento"> Financiamiento</a></div>
    <div id="estatutos"></div>
      <h3>Estas son las reglas bajo las cuales nos regimos</h3>
        <div class="h4">Descarga<a href="https://ckannet-storage.commondatastorage.googleapis.com/2014-09-01T19:12:41.019Z/estatutos-fundacion-ciudadano-inteligente.pdf" target="_blank"> nuestros estatutos <i class="fa fa-download"></i></a></div>
        <div class="row rules">
          <div class="col-md-2 hidden-xs"><img src="img/ico-corazon.svg"></div>
          <div class="col-md-10"><div class="h4">La Fundación es un lugar donde cualquier tipo de discriminación por razones políticas, religiosas, de género, sexuales, etc. están excluidas. Defendemos el derecho a ser diferentes.</div></div>
        </div>
        <div class="row rules">
          <div class="col-md-2 hidden-xs"><img src="img/ico-idea.svg"></div>
          <div class="col-md-10"><div class="h4">La Fundación es un lugar de trabajo que recibe con los brazos abiertos  la innovación, las ideas, los sueños por cambiar las relaciones de poder desde unos a pocos, a muchos.</div></div>
        </div>
    <div id="desclasificacion"></div>
      <h3>Desclasificación de la Fundación Ciudadano Inteligente</h3>
        <div class="h4">Revisa nuestra<a href="https://docs.google.com/a/votainteligente.cl/spreadsheets/d/1BRxiP9rUE_Iu_dbrvu7NHWwMSFo53wO7Z6g7meHBH4s/edit#gid=0" target="_blank"> Agenda de Gestión de Intereses Particulares</a></div>
        <p>A continuación FCI transparenta situaciones o condiciones que a ojos de la ciudadanía pudieran comprometer el interés en el actuar de nuestra organización. Optamos por transparentar porque no tenemos nada que ocultar. Más allá de cualquier interpretación de los hechos abajo señalados, el compromiso de Ciudadano Inteligente y su equipo está con el cumplimiento de nuestra misión, cual es, distribuir poder desde los pocos hacia los muchos por la vía de la transparencia y la participación ciudadana, usando como herramienta de cambio, las tecnologías de la información. Los miembros de Ciudadano Inteligente han suscrito el compromiso de transparentar cualquier situación que pudiere comprometer el interés de nuestra Fundación, y abstenerse de participar en aquellas áreas que pudieran representar un conflicto de interés.</p>
        <p>Si quieres pedir más información a Ciudadano Inteligente, escribe a info@ciudadanointeligente.org.</p>
        <div class="row">
          <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-presente">Situaciones en el presente</button></div>
          <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-pasado">Situaciones en el pasado</button></div>
        </div>

        <div class="modal fade modal-desclasificacion-presente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Desclasificación: situaciones en el presente</h4>
              </div>
              <div class="modal-body">
                {% include desclasificacion-presente.html %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade modal-desclasificacion-pasado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Desclasificación: situaciones en el presente</h4>
              </div>
              <div class="modal-body">
                {% include desclasificacion-pasado.html %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    <div id="financiamiento"></div>
    {% include financiamiento.html %}

</section>

<section id="newsletter">
    {% include suscripcion.html %}
</section>

<section id="contacto">
    {% include contacto.html %}
</section>
