<section id="sobre-nosotros">
    <h2>Sobre nosotros</h2>
    <div class="menu-interno"><a href="#quienessomos"> Quiénes somos </a>/<a href="#independencia"> Independencia política </a>/<a href="#areas"> Nuestras áreas</a></div>
    <p>La misión de Ciudadano Inteligente es fortalecer la democracia y reducir la desigualdad en América Latina, promoviendo la transparencia y la participación ciudadana a través del uso innovador de las tecnologías de la información.</p>
    <p>Trabajamos con la visión de transferir poder desde los pocos hacia los muchos, toda vez que el poder político y económico se concentre de manera artificial. Para ello nos valemos de la transparencia, las tecnologías de la información y la participación colectiva como herramientas de cambio.</p>
    <div id="quienessomos"></div>
    <h3>Quiénes somos</h3>
    <p class="h4 destacado">Somos una organización laica, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual. Buscamos aportar a una sociedad justa e incluyente, donde ciudadanos y ciudadanas tenemos los mismos derechos y oportunidades.</p>
    <div class="row">
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-equipo">El equipo</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-directorio">El directorio</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-hanparticipado">Han participado</button></div>
    </div>
    <div class="modal fade modal-equipo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel">El Equipo</h4>
                    {% include staff.html %}
                    <h4 class="modal-title" id="myModalLabel">Practicantes y Pasantes</h4>
                    {% include pasantes.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-directorio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">El Directorio</h4>
                </div>
                <div class="modal-body">
                    {% include staff-board.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-hanparticipado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Han Participado</h4>
                </div>
                <div class="modal-body">
                    {% include have-participated.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="independencia"></div>
    <h3>Independencia política</h3>
    <p>Los miembros de Ciudadano Inteligente no somos apolíticos, sino todo la contrario: concebimos la buena política como una herramienta fundamental de transformación social, y cómo tal, nos proponemos generar los adecuados incentivos para que la política funcione bien, buscando que quienes ostentan cargos de representación popular se deban a sus ciudadanos y ciudadanas, y no a otros intereses particulares.</p>
    <p>Al interior de Ciudadano Inteligente hay miembros de diversas tendencias políticas, sin embargo, como organización no adscribimos a ningún partido político ni movimiento. Para asegurar nuestra total independencia Ciudadano Inteligente no recibe financiamiento del Gobierno, ni de Partidos, ni de ninguna organización gremial que tenga intereses políticos. Asimismo, por vía de un proceso riguroso, nos aseguramos de que todas nuestras investigaciones e informes se sustenten en metodologías sólidas y transparentes, abiertas al escrutinio de quien nos quiera fiscalizar. La lealtad política de Ciudadano Inteligente está puesta en los ciudadanos y ciudadanas, y en el cuidado y profundización de la democracia como sistema de gobierno.</p>
    <div id="areas">
        <h3>Nuestras áreas</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Lab</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-lab.svg"></div>
            <div class="col-md-10">Desarrollamos tecnología web para transparentar, fiscalizar y hacernos ciudadanos y ciudadanas partícipes de las decisiones que nos afectan. En el taller digital desarrollamos tecnología de y para la ciudadanía. Innovamos en el desarrollo de aplicaciones web open source, destinadas a promover transparencia y participación cívica en América Latina. </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Incidencia</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-incidencia.svg"></div>
            <div class="col-md-10">Trabajamos para promover e incidir en las políticas de transparencia; fortalecer y ampliar el derecho de acceso a información pública; fomentar y robustecer la participación ciudadana; e incrementar una mayor y mejor rendición de cuentas de los gobiernos latinoamericanos.</div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Comunidad y redes</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-redes.svg"></div>
            <div class="col-md-10">Entendemos que somos parte de un tejido social, y por lo mismo conectamos a ciudadanos y ciudadanas, ONGs y hackers para buscar soluciones tecnológicas a problemas públicos. Nuestra forma de trabajo es colectiva. Ciudadano Inteligente promueve el desarrollo de comunidades y redes entre la sociedad civil, voluntarios, hackers cívicos, sector público, y toda organización que comparta la visión de profundizar democracia con transparencia, participación y tecnología.</div>
        </div>
    </div>
</section>
