<div class="container" id="about">
  <div class="section-padding">
    <div class="row">
        <div class="aside">
          <h4>Quiénes somos</h4>
        </div>
      <div class="col-md-11 offset-md-1">
        <div class="row">
          <div class="col-md-5 mb-30">
            <h5>Somos una organización internacional sin fines de lucro que busca fortalecer las democracias de Latinoamérica, mejorando las reglas del juego e impulsando el empoderamiento ciudadano mediante el uso innovador de tecnologías y la promoción de la transparencia.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-30">
            <p>Luchamos por una sociedad justa e incluyente, damos batallas judiciales para terminar con la corrupción, promovemos la participación ciudadana en elecciones populares, y también ofrecemos herramientas a organizaciones y activistas que quieren generar un real impacto en la sociedad. Somos una ONG laica, feminista, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual.</p>
          </div>
        </div>
        <a class="btn btn-primary" href="#">Conoce al equipo <i class="far fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
