<div class="container" id="about">
  <div class="mt-60">
    <div class="row">
      <div class="col-md-11 offset-md-1 about-title">
        <div class="row">
          <div class="col-md-5 mb-30">
            <h4 class="d-block d-md-none">Quiénes somos</h4>
            <h5>Somos una organización internacional sin fines de lucro que busca fortalecer las democracias de América Latina a través del uso innovador de la tecnología.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-30">
            <p>Nuestros proyectos buscan empoderar a la ciudadanía, promover la participación electoral, frenar la corrupción, promover la transparencia y la rendición de cuentas, y fortalecer activistas emergentes. También ofrecemos herramientas a individuos y organizaciones que quieren incidir en políticas públicas para generar cambio social. Creemos en el valor y la promoción de la diversidad en todas sus formas, y somos una organización feminista.</p>
          </div>
        </div>
        <a class="btn btn-primary" href="{{ site.baseurl }}/team">Conoce al equipo <i class="far fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
