<div class="" style="background-image: url(/assets/img/hero06.png);background-size:  100%;background-position-y: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-90 mb-90">
        <h4 class="white mb-30">Fortalecer as democracias na América Latina é tecer milhões de histórias.</h4>
        <a class="btn btn-secondary" href="https://blog.ciudadanointeligente.org/" target="_blank">Confira nosso Blog<i class="far fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
