<div class="" style="background-image: url(/assets/img/hero04.png);background-size:  100%;background-position-y: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-90 mb-90">
        <h4 class="white mb-30">Fortalecer las democracias en Latinoamérica es tejer cientos de historias.</h4>
        <a class="btn btn-secondary" href="https://blog.ciudadanointeligente.org/" target="_blank">Revisa nuestro blog <i class="far fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
