<section id="contacto" class="pb-200 pt-200">
  <div class="row">
    <div class="col-md-6 mb-60">
      <h1>Contacto</h1>
      <h5>¿Tienes dudas, preguntas o sugerencias sobre nuestro trabajo? Llena este formulario y nuestro equipo tratará de responder lo antes posible.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Form info -->
      <form method="POST" action="https://formspree.io/info@ciudadanointeligente.org" class="form">
        <label class="w-100">
            Nombre:
            <input type="text" placeholder="Tu Nombre" name="name" required>
        </label>
        <label class="w-100">
            Email:
            <input type="email" placeholder="nombre@email.com" name="mail" required>
        </label>
        <label class="w-100">
          Asunto:
          <input type="text" placeholder="Asunto" name="name" required>
        </label>
        <label class="w-100">
          Mensaje:
          <textarea name="message" placeholder="Mensaje" rows="8" cols="0" ></textarea>
        </label>
        <input type="submit" class="btn btn-primary" name="submit" value="Enviar">
    </form>
    </div>
  </div>
</section>
