<section id="contacto">
    <h2>Contacto</h2>
    <form action="https://docs.google.com/a/votainteligente.cl/forms/d/1q7acDr-TvLnTgxtpZU3HlmLfAnslMuYTjYOONTlYObs/formResponse" method="POST" id="ss-form" class="form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
            	<div class="ss-form-entry">
                	<label class="ss-q-item-label" for="entry_1433261566">
                		<div class="ss-q-title">Nombre:
	                    	<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
                			<span class="ss-required-asterisk">*</span>
                		</div>
                			<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                	</label>
	                <div>
	                    <input type="text" name="entry.1433261566" value="" class="ss-q-short" id="entry_1433261566" dir="auto" aria-label="Nombre   " aria-required="true" required="" title="">
	                </div>
	                <div class="error-message" id="1476436785_errorMessage"></div>
	            </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
	        <div dir="ltr" class="ss-item ss-item-required ss-text">
	        	<div class="ss-form-entry">
	            	<label class="ss-q-item-label" for="entry_1670521463">
	            		<div class="ss-q-title">Email:
	                		<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
	            			<span class="ss-required-asterisk">*</span>
	            		</div>
	            		<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
	            	</label>
	            	<div>
	                	<input type="email" name="entry.1670521463" value="" class="ss-q-short" id="entry_1670521463" dir="auto" aria-label="Email  Debe ser una dirección de correo electrónico válida" aria-required="true" required="" title="Debe ser una direcci&oacute;n de correo electr&oacute;nico v&aacute;lida">
	            	</div>
	        	</div>
	        </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
	        <div dir="ltr" class="ss-item  ss-select">
	        	<div class="ss-form-entry">
	            	<label class="ss-q-item-label" for="entry_473271821">
	            		<div class="ss-q-title">Asunto/Motivo de Consulta:</div>
	            		<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
	            	</label>
	            	<select name="entry.473271821" id="entry_473271821" aria-label="Asunto/Motivo de Consulta  "><option value=""></option>
	            		<option value="Prensa">Prensa</option> <option value="Pr&aacute;ctica o voluntariado">Práctica o voluntariado</option> <option value="Idea de alianza o proyecto">Idea de alianza o proyecto</option></select>
	        	</div>
        	</div>
    	</div>
    	<div class="ss-form-question errorbox-good" role="listitem">
	        <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
	            <label class="ss-q-item-label" for="entry_1742032578">
	            	<div class="ss-q-title">Mensaje:</div>
	            	<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
	            </label>
	            <div>
	                <textarea name="entry.1742032578" rows="8" cols="0" class="ss-q-long" id="entry_1742032578" dir="auto" aria-label="Mensaje  "></textarea>
	            </div>
	            <div class="error-message" id="1605807672_errorMessage"></div>
	        	</div>
        	</div>
    	</div>
        <input type="hidden" name="draftResponse" value="[,,&quot;3154598330303188355&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="3154598330303188355">
        <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
        	<input class="btn btn-primary" type="submit" name="submit" value="Enviar" id="ss-submit"></td></tr></tbody></table></div></ol>
	</form>
</section>