<section id="contacto" class="pb-200 pt-200">
  <div class="row">
    <div class="col-md-6 mb-60">
      <h1>Fale conosco</h1>
      <h5>Você tem perguntas, perguntas ou sugestões sobre o nosso trabalho? Preencha este formulário e nossa equipe tentará responder o mais rápido possível.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Form info -->
      <form method="POST" action="https://formspree.io/info@ciudadaniai.org" class="form">
        <label class="w-100">
            Nome:
            <input type="text" placeholder="Teu nome" name="name" required>
        </label>
        <label class="w-100">
            Email:
            <input type="email" placeholder="nome@email.com" name="_replyto" required>
        </label>
        <label class="w-100">
          Sujeito:
          <input type="text" placeholder="Sujeito" name="_subject" required>
        </label>
        <label class="w-100">
          Mensagem:
          <textarea name="message" placeholder="Mensagem" rows="8" cols="0" ></textarea>
        </label>
        <input type="submit" class="btn btn-primary" name="submit" value="Enviar">
    </form>
    </div>
  </div>
</section>
