<ul>
  <li>FCI actualmente está financiada por Google inc. Omidyar Network y el Open Society Foundations de George Soros. Detalle de los aportes de cada cual, aquí.</li>
  <li>El Presidente del Directorio de FCI, Rodrigo Mobarec, trabaja en la empresa Colbún.</li>
  <li>El miembro del Directorio, David Sasaki, trabaja en Omidyar Network que financia Fundación Ciudadano Inteligente.</li>
  <li>Hazel Feigenblatt es Directora General de Global Integrity, organización sin fines de lucro que recibe fondos de Omidyar Network.</li>
  <li>El Director de Ciudadano Inteligente, Felipe Heusser, es miembro del Consejo Asesor de Chile Transparente.</li>
  <li>El Director de Ciudadano Inteligente, Felipe Heusser es miembro de la Red de Profesionales de Espacio Publico.</li>
  <li>El Director de Ciudadano Inteligente, Felipe Heusser, es miembro del Directorio de la Fundación Code for América, de los Estados Unidos, en lo que respecta a su programa internacional Code for All.</li>
  <li>El Director de Ciudadano Inteligente, Felipe Heusser, es adherente del Movimiento Revolución Democrática.</li.>
  <li>Pedro Daire, Jefe de Tecnología, es adherente al movimiento Revolución Democrática.</li>
  <li>María Luisa Sotomayor es militante del Partido Demócrata Cristiano, y está en proceso de renuncia al mismo, por no sentirse plenamente identificada.</li>
  <li>Felipe Álvarez es adherente al movimiento Revolución Democrática</li>
  <li>María Luisa Sotomayor adhiere a la campaña Marca tu Voto, y está apoyando en la producción de su campaña creativa.</li>
</ul>