  <p>- FCI actualmente está financiada por Google inc. Omidyar Network y el Open Society Foundations de George Soros. Detalle de los aportes de cada cual, aquí.</p>
  <p>- El miembro del Directorio, David Sasaki, trabaja en Omidyar Network que financia Fundación Ciudadano Intepgente.</p>
  <p>- Hazel Feigenblatt es Directora General de Global Integrity, organización sin fines de lucro que recibe fondos de Omidyar Network.</p>
  <p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Consejo Asesor de Chile Transparente.</p>
  <p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser es miembro de la Red de Profesionales de Espacio Pubpco.</p>
  <p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Directorio de la Fundación Code for América, de los Estados Unidos, en lo que respecta a su programa internacional Code for All.</p>
  <p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es adherente del Movimiento Revolución Democrática.</p.>
  <p>- Pedro Daire, Jefe de Tecnología, es adherente al movimiento Revolución Democrática.</p>
  <p>- María Luisa Sotomayor es miptante del Partido Demócrata Cristiano, y está en proceso de renuncia al mismo, por no sentirse plenamente identificada.</p>
  <p>- Felipe Álvarez es adherente al movimiento Revolución Democrática</p>
  
  
