<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/hazel.png">
		<div>
			<h5>Hazel Feigenblatt - Directora</h5>
			<p>Periodista convencida de que cada ciudadano lleva un investigador adentro que puede hacer la diferencia por una mayor rendición de cuentas.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="www.linkedin.com/in/hazelfeigenblatt"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:hfeigenblatt@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/default.png">
		<div>
			<h5>Carola Fuentes - Directora</h5>
			<!-- <p>Licenciada en Historia con mención en Ciencas Políticas de PUCV y candidata a Magister en Comunicación de la UDP. Trabajo como voluntaria.</p> -->
			<p>
				<!-- <a class="btn btn-primary btn-xs" href="https://twitter.com/pdaire"><i class="fa fa-twitter"></i></a> -->
				<a class="btn btn-primary btn-xs" href="mailto:cfuentes@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/default.png">
		<div>
			<h5>Felipe Heusser - Director</h5>
			<!-- <p>Licenciada en Historia con mención en Ciencas Políticas de PUCV y candidata a Magister en Comunicación de la UDP. Trabajo como voluntaria.</p> -->
			<p>
				<!-- <a class="btn btn-primary btn-xs" href="https://twitter.com/pdaire"><i class="fa fa-twitter"></i></a> -->
				<a class="btn btn-primary btn-xs" href="mailto:fheusser@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/rodrigo.png">
		<div>
			<h5>Rodrigo Mobarec - Director</h5>
			<p>Apasionado x lo q podemos hacer con la acción colectiva, mi favorito @ciudadanoi y todo lo q queda por hacer #innovacionsocial #desarrollosostenible #familia</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/rmobarec"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/rodrigo-mobarec/21/248/347"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:rmobarec@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/default.png">
		<div>
			<h5>Paula Rojo - Directora</h5>
			<p></p>
			<p>
				<!-- <a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/nicolas-cristi/4/53a/526"><i class="fa fa-linkedin"></i></a> -->
				<a class="btn btn-primary btn-xs" href="mailto:projo@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/default.png">
		<div>
			<h5>David Sasaki - Director</h5>
			<!-- <p>Terapeuta Laboral</p> -->
			<p>
				<!-- <a class="btn btn-primary btn-xs" href="https://www.facebook.com/profile.php?id=100003650209917"><i class="fa fa-linkedin"></i></a> -->
				<a class="btn btn-primary btn-xs" href="mailto:dsasaki@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/agustin.png">
		<div>
			<h5>Agustin Villena - Director</h5>
			<p>Computin transmutado en Hacker de Culturas. Practicante de la Agilidad y el Lean Thinking. Interesado en compartir conocimiento y la colaboración abierta para el bien común.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/agustinvillena"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="http://cl.linkedin.com/in/agustinvillena"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:avillena@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
