<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/jose.png">
		<div>
			<h5>Felipe Álvarez</h5>
			<p>Originalmente de Valdivia, idealista, ciclista, trapecista y artesano de software</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/lfalvarez"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/luisfelipealvarez"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:falvarez@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Marcel Augsburger</h5>
			<p>Desarrollador</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?id=36785620"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:maugsburger@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Pablo Collada</h5>
			<p>Director Ejecutivo</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?id=4993024&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:pcollada@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Nicolás Cristi</h5>
			<p>Gerente de Admin. y Finanzas</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/nicolas-cristi/4/53a/526"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:ncristi@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Pedro Daire - Director LatamLab</h5>
			<p>Licenciada en Historia con mención en Ciencas Políticas de PUCV y candidata a Magister en Comunicación de la UDP. Trabajo como voluntaria.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/pdaire"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:pdaire@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Fiera Feroz</h5>
			<p>Terapeuta Laboral</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.facebook.com/profile.php?id=100003650209917"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:fierita@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>José Damián Garrido</h5>
			<p>Desarrollador</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/jgarrido"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/jos%C3%A9-dami%C3%A1n-garrido-m/4b/380/61b"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:dgarrido@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>María Jaraquemada</h5>
			<p>Directora Investigación e Incidencia</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/mariajaraqmada"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/maria-jaraquemada/23/7a0/b18"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:mjaraquemada@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Catalina Margozzini</h5>
			<p>Diseñadora</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/CaMargozzini"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/catalina-margozzini-del-valle/33/377/39a"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:cmargozzini@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Juan Pablo Pérez</h5>
			<p>Vengo del cálido Arica, cinéfilo, ciclista, ñoño, desarrollador, amo la comida picante y ↑ ↑ ↓ ↓ ← → ← →, (B), (A), [Start]</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/rezzo"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/jpereztrabucco"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:jpperez@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>María Luisa Sotomayor - Jefa de Comunicaciones, Comunidad y Redes</h5>
			<p>...</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/mlsotomayor"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/mar%C3%ADa-luisa-sotomayor/2a/209/58"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:mlsotomayor@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>María José Tapia</h5>
			<p>Encargada de Prensa y Comunidad</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/MjoseTapia"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?trk=tab_pro&id=90305028"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:mjtapia@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="/img/team/jose.png">
		<div>
			<h5>Daniela Tejada</h5>
			<p>Coordinadora de Estudios</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/ladanitejada"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="Coordinadora de Estudios"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:dtejada@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
