{% assign counter=1 %}
<div class="row team">
{% for member in site.equipobrasil %}
	{% if {{member.active}} == true %}
		<div class="col-md-4">
			<img src="{{ site.baseurl }}/assets/img/team/{{member.image}}">
			<div>
				<h5>{{member.name}} - {{member.function}}</h5>
				<p>{{member.bio}}</p>
				<p>
				{% if {{member.network_twitter}} != null %} <a class="btn btn-primary btn-xs" href="{{member.network_twitter}}"><i class="fa fa-twitter"></i></a> {% endif %}
				{% if {{member.network_linkedin}} != null %} <a class="btn btn-primary btn-xs" href="{{member.network_linkedin}}"><i class="fa fa-linkedin"></i></a> {% endif %}
				{% if {{member.network_github}} != null %} <a class="btn btn-primary btn-xs" href="{{member.network_github}}"><i class="fa fa-github"></i></a> {% endif %}
				{% if {{member.network_googleplus}} != null %} <a class="btn btn-primary btn-xs" href="{{member.network_googleplus}}"><i class="fa fa-google-plus"></i></a> {% endif %}
				{% if {{member.network_facebook}} != null %} <a class="btn btn-primary btn-xs" href="{{member.network_facebook}}"><i class="fa fa-facebook"></i></a> {% endif %}
				{% if {{member.network_instagram}} != null %} <a class="btn btn-primary btn-xs" href="{{member.network_instagram}}"><i class="fa fa-instagram"></i></a> {% endif %}
				{% if {{member.email}} != null %} <a class="btn btn-primary btn-xs" href="mailto:{{member.email}}" target="_top"><i class="fa fa-envelope"></i></a> {% endif %}
				</p>
			</div>
		</div>
		{% if counter == 3 %}
		</div>
		<div class="row team">
		{% elsif counter == 6 %}
		</div>
		<div class="row team">
		{% elsif counter == 9 %}
		</div>
		<div class="row team">
		{% endif %}
		{% assign counter=counter | plus:1 %}
	{% endif %}
{% endfor %}
</div>
