<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/felipe.png">
		<div>
			<h5>Felipe Álvarez - Desarrollador</h5>
			<p>Originalmente de Valdivia, idealista, ciclista, trapecista y artesano de software.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/lfalvarez"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/luisfelipealvarez"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="https://github.com/lfalvarez"><i class="fa fa-github"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:falvarez@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/marcel.png">
		<div>
			<h5>Marcel Augsburger - Desarrollador</h5>
			<p>Ciudadano, amante de la ciencia y el conocimiento, de espíritu sureño, escalador amateur, y computín de pasatiempo.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?id=36785620"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:maugsburger@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/pablo.png">
		<div>
			<h5>Pablo Collada - Director Ejecutivo</h5>
			<p>Construir ciudadanía comienza caracterizando creencias con certeza comunitaria.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?id=4993024&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:pcollada@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/nico.png">
		<div>
			<h5>Nicolás Cristi - Gerente de Admin. y Finanzas</h5>
			<p></p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/nicolas-cristi/4/53a/526"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:ncristi@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/pedro.png">
		<div>
			<h5>Pedro Daire - Director LatamLab</h5>
			<p>Factibilidad técnica y estimaciones al minuto.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/pdaire"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:pdaire@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/fiera.png">
		<div>
			<h5>Fiera Feroz - Terapeuta Laboral</h5>
			<p>¡Guau guau guau!</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/ciudadanafiera"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://plus.google.com/u/0/108212560504131165924"><i class="fa fa-google-plus"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.facebook.com/laciudadanafiera"><i class="fa fa-facebook"></i></a>
				<a class="btn btn-primary btn-xs" href="http://instagram.com/ciudadanafiera"><i class="fa fa-instagram"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:fierita@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/damian.png">
		<div>
			<h5>José Damián Garrido - Desarrollador</h5>
			<p>Obrero Digital. Beer lover, Dog lover. Una frase: "Amulepe taiñ weichan!"</i></p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/jgarrido"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/jos%C3%A9-dami%C3%A1n-garrido-m/4b/380/61b"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:dgarrido@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/maria.png">
		<div>
			<h5>María Jaraquemada - Directora Investigación e Incidencia</h5>
			<p>Abogada de las causas perdidas y la transparencia, sirena, lectora, viajera y comilona. En cualquier minuto me echo al pollo.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/mariajaraqmada"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/maria-jaraquemada/23/7a0/b18"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:mjaraquemada@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/cata.png">
		<div>
			<h5>Catalina Margozzini - Diseñadora</h5>
			<p>Creo profundamente en mi trabajo y en mi querido equipo que me hace cada día más data nerd.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/CaMargozzini"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/catalina-margozzini-del-valle/33/377/39a"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:cmargozzini@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/jp.png">
		<div>
			<h5>Juan Pablo Pérez - Desarrollador</h5>
			<p>Vengo del cálido Arica, cinéfilo, ciclista, ñoño, desarrollador, amo la comida picante y ↑ ↑ ↓ ↓ ← → ← →, (B), (A), [Start]</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/rezzo"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/in/jpereztrabucco"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.github.com/rezzo"><i class="fa fa-github"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:jpperez@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/lucha.png">
		<div>
			<h5>María Luisa Sotomayor - Jefa de Comunicaciones, Comunidad y Redes</h5>
			<p>Ciudadana en acción y corazón.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/mlsotomayor"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/pub/mar%C3%ADa-luisa-sotomayor/2a/209/58"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:mlsotomayor@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/jose.png">
		<div>
			<h5>María José Tapia - Encargada de Prensa y Comunidad</h5>
			<p>OLA KE ASE. Escultora de mensajes. Tejedora y Costurera de Redes.</p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/MjoseTapia"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?trk=tab_pro&id=90305028"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:mjtapia@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="row team">
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/img/team/dani.png">
		<div>
			<h5>Daniela Tejada - Coordinadora de Estudios</h5>
			<p>Me encargo de armar los carretes, almuerzos, happy hours en la fundación. Cuando me sobra tiempo, me dedico a la investigación. </p>
			<p>
				<a class="btn btn-primary btn-xs" href="https://twitter.com/ladanitejada"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-primary btn-xs" href="https://github.com/dtejada"><i class="fa fa-github"></i></a>
				<a class="btn btn-primary btn-xs" href="https://www.linkedin.com/profile/view?id=96262855&trk=spm_pic"><i class="fa fa-linkedin"></i></a>
				<a class="btn btn-primary btn-xs" href="mailto:dtejada@ciudadanointeligente.org" target="_top"><i class="fa fa-envelope"></i></a>
			</p>
		</div>
	</div>
</div>
