
<h3>Cómo nos financiamos</h3>
<p class="pull-right">Montos en USD</p>
<table class="table table-striped">
<tr>
  <th>Fondos</th>
  <th>2011</th>
  <th>2012</th>
  <th>2013</th>
  <th>2014*</th>
</tr>
<tr>
  <td><a data-toggle="modal" data-target=".modal-on">Omidyar Network</a></td>
  <td></td>
  <td>150.000</td>
  <td>175.000</td>
  <td>175.000</td>
</tr>
<tr>
  <td><a data-toggle="modal" data-target=".modal-mysociety">MySociety</a></td>
  <td></td>
  <td></td>
  <td>381.500</td>
  <td>392.575</td>
</tr>
<tr>
  <td>Financiamiento DAL</td>
  <td></td>
  <td>7.000</td>
  <td>11.700</td>
  <td>34.300</td>
</tr>
<tr>
  <td>FCI Asesorias</td>
  <td></td>
  <td>9.950</td>
  <td>16.600</td>
  <td>25.000</td>
</tr>
<tr>
  <td><a data-toggle="modal" data-target=".modal-avina">Avina</a></td>
  <td></td>
  <td></td>
  <td>8.200</td>
  <td>25.000</td>
</tr>
<tr>
  <td>UNICEF*</td>
  <td></td>
  <td></td>
  <td></td>
  <td>60.000</td>
</tr>
<tr>
  <td>Prize award</td>
  <td>14.000</td>
  <td></td>
  <td>10.000</td>
  <td></td>
</tr>
<tr>
  <td><a data-toggle="modal" data-target=".modal-osf">Open Society Foundations</a></td>
  <td>245.000</td>
  <td>130.000</td>
  <td>195.400</td>
  <td></td>
</tr>
<tr>
  <td>Google</td>
  <td>60.000</td>
  <td>250.000</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>World Bank</td>
  <td>45.000</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <th>Total</th>
  <th>364.000</th>
  <th>546.000</th>
  <th>798.400</th>
  <th>711.875*</th>
</tr>
</table>
*Montos Estimados

<!-- MY SOCIETY -->

<div class="modal fade modal-mysociety" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">MySociety</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tbody>
          <tr>
            <td><a href="./attachments/PoPlus_Sub-grant_Final_Contract.splitted-and-merged.pdf">Poplus</a></td>
            <td>2013 ’1</td>
            <td>USD 287.000</td>
            <td>30 de Septiembre 2013</td>
            <td><a href="./attachments/Avance-en-Hitos.pdf">Avance en Hitos 2013</a></td>
          </tr>
          <tr>
            <td></td>
            <td>2013 ’2</td>
            <td>USD 94.500</td>
            <td>31 de Marzo 2014</td>
            <td><a href="./attachments/Executive-Report-Web.pdf">Inf. Narrativo y Hitos 2014</a></td>
          </tr>
          <tr>
            <td></td>
            <td>2014 ’1</td>
            <td>USD 293.000</td>
            <td>30 de Septiembre 2014</td>
            <td>Próxima entrega</td>
          </tr>
          <tr>
            <td></td>
            <td>2014 ’2</td>
            <td>USD 99.575</td>
            <td>31 de Marzo 2015</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ON -->

<div class="modal fade modal-on" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Omidyar Network</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <td><a href="./attachments/Grantt-2011.pdf">Acuerdo Firmado</a></td>
            <td>2012</td>
            <td>USD 150.000</td>
            <td>30 de Enero 2012</td>
            <td><a href="./attachments/ON-2011-Fiscal-Period-Small.pdf">Reporte Anual 2011 (ER)</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Octubre 2012</td>
            <td><a href="./attachments/Narrative-Fiscal-Year-2012.pdf">Reporte Escrito 2012</a></td>
          </tr>
          <tr>
            <td><a href="./attachments/Anexo-Metas-2013.pdf">Anexo Metas 2013</a></td>
            <td>2013</td>
            <td>USD 175.000</td>
            <td>30 de Enero 2013</td>
            <td><a href="./attachments/ONFI-ER-Template-Fundacion17102013-Small.pdf">Reporte Anual 2012 (ER)</a></td>
          </tr>  
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Junio 2013</td>
            <td><a href="./attachments/2013-Q2-Report-2013.08.20-ON-GOALS.pdf">Avance Metricas 2013</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Octubre 2013</td>
            <td><a href="./attachments/Narrative-of-2013-Goals-for-Ciudadano-Inteligente.pdf">Informe Escrito 2013</a></td>
          </tr>
          <tr>
            <td></td>
            <td>2014</td>
            <td>USD 175.000</td>
            <td>30 de Enero 2014</td>
            <td><a href="./attachments/ONFI-ER-FCI-Small.pdf">Reporte Anual 2013 (ER)</a></td>
          </tr>
          <tr>
            <td><a href="./attachments/FCI-Amendment-No-2-2014.pdf">Anexo Metas 2014</a></td>
            <td></td>
            <td></td>
            <td>30 de Abril 2014</td>
            <td><a href="./attachments/FCI-2014.03-KPI.pdf">Reporte Trimestral 2014-T1</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Julio 2014</td>
            <td><a href="./attachments/NarrativeReportON.pdf">Reporte Semestrel 2014-S1</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Octubre 2014</td>
            <td>Proxima Entrega</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Enero 2015</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- AVINA -->

<div class="modal fade modal-avina" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Avina</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <td><a href="./attachments/201300287-Convenio-Enmienda-Firmado.pdf">DAL y AppCivicas</a></td>
            <td>2013</td>
            <td>USD 8.200</td>
            <td>25 de Junio 2014</td>
            <td><a href="./attachments/Apoyo-a-Incubacion-Regional-Desarrollando-America-Latina-2013-154-Informe-Final.pdf">Informe Final</a></td>
          </tr>
          <tr>
            <td><a href="./attachments/Signed-Agreement-2013-154-Small.1-5.pdf">AppCivicas P1</a> <a href="./attachments/Signed-Agreement-2013-154-Small.6-10.pdf"> P2</a></td>
            <td>2014</td>
            <td>USD 25.000</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- OSF -->

<div class="modal fade modal-osf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Open Society Foundations</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tr>
            <td><a href="./attachments/LAP_Propuesta-Proyecto_RLTL_FCI.pdf">Barometro Latinoamericano (RLTL)</a></td>
            <td>2013</td>
            <td>USD 64.200</td>
            <td>31 de Diciembre 2013</td>
            <td><a href="./attachments/LAP_Informe_Narr_RLTL_FCI.pdf">Informe Final</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>31 de Abril 2014</td>
            <td><a href="./attachments/LAP_Informe-de-Avance-Anexo-3.pdf">Informe Post Entrega</a></td>
          </tr>
          <tr>
            <td><a href="./attachments/OR2012-00705-Signedsmallpdf.com_.pdf">FCI en Latam</a></td>
            <td>2013</td>
            <td>USD 130.000</td>
            <td>01 de Enero 2013</td>
            <td><a href="./attachments/LAP_Informe_FCI_Feb_2013.pdf">Informe Intermedio Enero</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>01 de Mayo 2013</td>
            <td><a href="./attachments/LAP_Narr-FCI-May-2013.pdf">Informe Intermedio Mayo</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>30 de Noviembre 2013</td>
            <td><a href="./attachments/LAP_Narr_FCI_Nov_2013.pdf">Informe Final</a></td>
          </tr>
          <tr>
            <td><a href="./attachments/20029768.pdf">Vota Inteligente</a></td>
            <td>2009-2012</td>
            <td>USD 488.000</td>
            <td>01 de Enero 2011</td>
            <td><a href="./attachments/2011.01.01-Interim-Narrative-Report.pdf">Informe Intermedio</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>01 de Enero 2012</td>
            <td><a href="./attachments/2012.01.01-Interim-Narrative-Report.pdf">Informe Intermedio</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>31 de Diciembre 2012</td>
            <td><a href="./attachments/OSI-Report.pdf">Informe Final</a></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
