
<h3>Cómo nos financiamos</h3>
<p class="pull-right">Montos en USD</p>
<table class="table table-striped">
<tr>
  <th>Fondos</th>
  <th>2011</th>
  <th>2012</th>
  <th>2013</th>
  <th>2014*</th>
</tr>
<tr>
  <td>Omidyar Network</td>
  <td></td>
  <td>150.000</td>
  <td>175.000</td>
  <td>175.000</td>
</tr>
<tr>
  <td>MySociety</td>
  <td></td>
  <td></td>
  <td>381.500</td>
  <td>392.575</td>
</tr>
<tr>
  <td>Financiamiento DAL</td>
  <td></td>
  <td>7.000</td>
  <td>11.700</td>
  <td>34.300</td>
</tr>
<tr>
  <td>FCI Asesorias</td>
  <td></td>
  <td>9.950</td>
  <td>16.600</td>
  <td>25.000</td>
</tr>
<tr>
  <td>Avina</td>
  <td></td>
  <td></td>
  <td>8.200</td>
  <td>25.000</td>
</tr>
<tr>
  <td>Prize award</td>
  <td>14.000</td>
  <td></td>
  <td>10.000</td>
  <td></td>
</tr>
<tr>
  <td>Open Society Foundations</td>
  <td>245.000</td>
  <td>130.000</td>
  <td>195.400</td>
  <td></td>
</tr>
<tr>
  <td>Google</td>
  <td>60.000</td>
  <td>250.000</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>UNICEF</td>
  <td>20.000</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>World Bank</td>
  <td>45.000</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <th>Total</th>
  <th>384.000</th>
  <th>546.000</th>
  <th>798.400</th>
  <th>651.875</th>
</tr>
</table>
