<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><a href="https://github.com/ciudadanointeligente" target="_blank"><i class="fa fa-github-alt"></i> Revisa este y todos nuestros proyectos en Github</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        Desarrollado por <a href="http://ciudadanointeligente.org" target="_blank"><img src="{{ site.baseurl }}/img/logo-fci-201x61.png" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="tel:+56224192770"><i class="fa fa-phone"></i> +56 2 2419 2770</a></li>
                    <li><a href="mailto:{{ site.email }}" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto prensa</a></li>
                    <li><a href="//bit.ly/17qiMkf" target="_blank"><i class="fa fa-map-marker"></i> Holanda 895, Providencia, Santiago, Chile</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>