<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<footer class="site-footer pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30">
              <div class="small text-center">
                <ul class="list-inline">
                  {% if page.lang=='es' %}
                    <!-- <li class="list-inline-item"><a href="#">Gracias</a></li> -->
                    <li class="list-inline-item"><a href="{{ site.baseurl }}/contact">Contáctanos</a></li>
                    <li class="list-inline-item"><a href="{{ site.baseurl }}/join">Únete al equipo</a></li>
                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="Atribución 4.0 Internacional" href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><i class="fab fa-creative-commons-by"></i></a></li>
                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="Atribución 4.0 Internacional" href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><i class="fab fa-creative-commons"></i></a></li>
                  {% endif %}
                  {% if page.lang=='en' %}
                    <!-- <li class="list-inline-item"><a href="#">Gracias</a></li> -->
                    <li class="list-inline-item"><a href="{{ site.baseurl }}/contact-en">Contact us</a></li>
                    <li class="list-inline-item"><a href="{{ site.baseurl }}/join-en">Join us</a></li>
                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="Attribution 4.0 International" href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank"><i class="fab fa-creative-commons-by"></i></a></li>
                    <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="Attribution 4.0 International" href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank"><i class="fab fa-creative-commons"></i></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <ul class="list-inline text-right">
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
                <ul class="list-inline rrss">
              <li class="list-inline-item"><a href="mailto:{{ site.email }}" class="email-prensa" target="_top"><i class="far fa-envelope"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/ciudadaniai/" ><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/ciudadania_i" ><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/ciudadaniai/" ><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="//github.com/ciudadanointeligente" ><i class="fab fa-github"></i></a></li>

                </ul>
            </div>
            <div class="col-md-4">
              {% include newsletter.html %}
            </div>
        </div>
    </div>
</footer>
