<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <ul>
                  <li><a href="https://github.com/ciudadanointeligente" target="_blank"><i class="fa fa-github-alt"></i> Revisa este y todos nuestros proyectos en Github</a></li>
              </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                Desarrollado por <a href="//www.ciudadanointeligente.org/" target="_blank"><img src="http://vi-cl2.s3.amazonaws.com/img/logo-ciudadanoi.png?Signature=LqtAy8NYusCdDUfVWQNlLutmWfU%3D&Expires=1409679120&AWSAccessKeyId=AKIAJW6E47YHLP4RUJ2A" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
              <ul>
                  <li><a href="tel:+56224192770"><i class="fa fa-phone"></i> +562 2 419 2770</a></li>
                  <li><a href="mailto:{{ site.email }}" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto prensa</a></li>
                  <li><a href="//bit.ly/17qiMkf" target="_blank"><i class="fa fa-map-marker"></i> Holanda 895, Providencia, Santiago, Chile</a></li>
              </ul>
          </div>
        </div>
      </div>

</footer>
