<section id="funding">
  <div class="row pt-200 pb-200">
    <div class="container">
      {% if page.lang=='es' %}
        <h1>Cómo nos financiamos</h1>
      {% endif %}
      {% if page.lang=='pt' %}
        <h1>Nosso financiamento</h1>
      {% endif %}
      {% if page.lang=='en' %}
        <h1>Funding</h1>
      {% endif %}
      <p class="pull-right">Montos en USD</p>
        <div class="table-responsive">
        <table id="financiamiento" class="table table-striped">
          <thead>
            <tr>
                <th class="izq">Fondos</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
                <th>2016</th>
                <th>2017</th>
                <th>2018</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="izq"><a data-toggle="modal" data-target=".modal-avina">Avina</a></td>
                <td></td>
                <td></td>
                <td>8.200</td>
                <td>5.200</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><a data-toggle="modal" data-target=".modal-fcihivos">Hivos</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td>64.852</td>
                <td>180.747</td>
                <td></td>
                <td>6.714</td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Financiamiento DAL</td>
                <td></td>
                <td>7.000</td>
                <td>11.700</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Google</td>
                <td>60.000</td>
                <td>250.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><a data-toggle="modal" data-target=".modal-mysociety">MySociety</a></td>
                <td></td>
                <td></td>
                <td>381.500</td>
                <td>444.741</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><a data-toggle="modal" data-target=".modal-on">Luminate</a></td>
                <td></td>
                <td>150.000</td>
                <td>175.000</td>
                <td></td>
                <td>249.958</td>
                <td>200.000</td>
                <td></td>
                <td>174.944</td>
            </tr>
            <tr>
                <td class="izq"><a data-toggle="modal" data-target=".modal-osf">Open Society Foundations</a></td>
                <td>245.000</td>
                <td>130.000</td>
                <td>195.400</td>
                <td>199.833</td>
                <td>199.745</td>
                <td>189.907</td>
                <td>190.000</td>
                <td>190.000</td>
            </tr>
            <tr>
                <td class="izq"><sup>2</sup> Open Society Foundations (RLTL)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>145.927</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq">National Endowment for Democracy (NED)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>29.918</td>
                <td>91.975</td>
                <td>72.000</td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Prize award</td>
                <td>14.000</td>
                <td></td>
                <td>10.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><a data-toggle="modal" data-target=".modal-unicef">UNICEF</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2.674</td>
                <td>58.417</td>
                <td>47.411</td>
                <td>2.500</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> UNITED NATIONS</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>63.958</td>
                <td></td>
                <td>115.994</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> World Bank</td>
                <td>45.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Espacios Abiertos</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>19.886</td>
                <td>38.908</td>
            </tr>
             <tr>
                <td class="izq"><sup>1</sup> The Engine Room</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>6.000</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> PNUD</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>15.873</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> OGP</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>6.500</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Agenda de Periodistas</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>11.363</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> BID</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1.094</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> International Budget Partnership</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>7.227</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Fundación para el Desarrollo de la Lib. Ciudadana</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2.808</td>
                <td></td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Instituto Mexicano para Competitividad A.C.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>24.990</td>
            </tr>
            <tr>
                <td class="izq"> International Development Research Centre</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>156.516</td>
            </tr>
            <tr>
                <td class="izq"> Proyecto sobre Organización, Desarrollo, Educación e Investigación (PODER)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>31.988</td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Semah Valencia INC S.A.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>23.256</td>
            <tr>
                <td class="izq"><sup>1</sup> Comunidad y Biodiversidad A.C.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1.725</td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Fundación Internacional y para Iberoamérica de Administración y Políticas Públicas</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>16.959</td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Fundación Colunga</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>6.762</td>
            </tr>
            <tr>
                <td class="izq"><sup>1</sup> Instituto Update</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>13.500</td>
            </tr>
            <tr>
                <td class="izq"> Laboratorio de Gobierno de Chile</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>4.477</td>
            </tr>
            </tr>
          </tbody>
          <tfoot>
            <tr>
                <th class="izq">Total</th>
                <th>364.000</th>
                <th>537.000</th>
                <th>781.800</th>
                <th>717.300</th>
                <th>752.825</th>
                <th>676.463</th>
                <th>471.220</th>
                <th>762.740</th>
            </tr>
            <tr>
              <td colspan="7">
                <p><sup>1</sup> Para estos fondos no hay exigencia de reportes.</p>
                <p><sup>2</sup> Montos entregados a Red Latinoamericana para la Transparencia Legislativa, a repartir entre organizaciones participantes.</p>
              </td>
            </tr>
          </tfoot>
        </table>
        </div>
        <!-- AVINA -->
        <div class="modal fade modal-avina" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Avina</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/201300287-Convenio-Enmienda-Firmado.pdf">DAL y AppCivicas</a></td>
                                <td>2013</td>
                                <td class="der">USD 8.200</td>
                                <td>25 de Junio 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/ReporteFinalparaFundacionAVINA-IncubacionDesarrollandoAmericaLatina2013.pdf">Informe Final</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Signed-Agreement-2013-154-Small.1-5.pdf">AppCivicas P1</a> <a href="{{ site.baseurl }}/assets/attachments/Signed-Agreement-2013-154-Small.6-10.pdf"> P2</a></td>
                                <td>2014</td>
                                <td class="der">USD 25.000</td>
                                <td>25 de Junio 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Apoyo-a-Incubacion-Regional-Desarrollando-America-Latina-2013-154-Informe-Final.pdf">Informe Final</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- FCI FINANCIAMIENTO HIVOS -->
        <div class="modal fade modal-fcihivos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">FCI FINANCIAMIENTO CON HIVOS</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/PropuestaProyectoNEBE.pdf">Propeusta Proyecto NEBE</a><br><a href="{{ site.baseurl }}/assets/attachments/HIVOSFCIContrato27.11.14.pdf">Acuerdo Proyecto NEBE</a></td>
                                <td>2015</td>
                                <td class="der">USD 30.600</td>
                                <td>1 de Junlio 2015</td>
                                <td>Informe Narrativo</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Abril 2016</td>
                                <td>Informe Financiero Auditado</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- DAL HIVOS -->
        <div class="modal fade modal-dalhivos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">FINANCIAMIENTO DAL CON HIVOS</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/HIVOSDAL1009791Contrato11.11.14.pdf.pdf">Acuerdo Incubacion DAL</a></td>
                                <td>2015</td>
                                <td class="der">USD 18.720</td>
                                <td>30 de Septiembre 2015</td>
                                <td>Informe Narrativo<br>Informe Financiero</td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/HIVOSDAL1009626.pdf">Acuerdo Proyecto DAL</a></td>
                                <td>2014-2015</td>
                                <td class="der">USD 48.000</td>
                                <td>28 de Febrero 2015</td>
                                <td>Informe Narrativo</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="der">USD 48.000</td>
                                <td>11 de Noviembre 2015</td>
                                <td>Evaluacion Anual<br>Informe Financiero</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Abril 2016</td>
                                <td>Informe Financiero Auditado</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MY SOCIETY -->
        <div class="modal fade modal-mysociety" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">MySociety</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tbody>
                                <tr>
                                    <td>Investigacion Hewlett</td>
                                    <td>2015-2016</td>
                                    <td class="der">USD 120.000</td>
                                    <td>30 de Noviembre 2015</td>
                                    <td>Avance a 2015</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="der">USD 120.000</td>
                                    <td>30 de Noviembre 2016</td>
                                    <td>Resultado Estudio</td>
                                </tr>
                                <tr>
                                    <td><a href="{{ site.baseurl }}/assets/attachments/PoPlus_Sub-grant_Final_Contract.splitted-and-merged.pdf">Poplus</a></td>
                                    <td>2013-2015</td>
                                    <td class="der">USD 287.000</td>
                                    <td>30 de Septiembre 2013</td>
                                    <td><a href="{{ site.baseurl }}/assets/attachments/Avance-en-Hitos.pdf">Avance en Hitos 2013</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="der">USD 94.500</td>
                                    <td>31 de Marzo 2014</td>
                                    <td><a href="{{ site.baseurl }}/assets/attachments/Executive-Report-Web.pdf">Inf. Narrativo y Hitos 2014</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="der">USD 293.000</td>
                                    <td>30 de Septiembre 2014</td>
                                    <td><a href="{{ site.baseurl }}/assets/attachments/Financial&Milestones09-2014.pdf">Avance en Hitos 2014</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="der">USD 99.575</td>
                                    <td>31 de Marzo 2015</td>
                                    <td>Proxima Entrega</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ON -->
        <div class="modal fade modal-on" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Omidyar Network</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Grantt-2011.pdf">Acuerdo Firmado</a></td>
                                <td>2015</td>
                                <td class="der">USD 360.000*</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Grantt-2011.pdf">Acuerdo Firmado</a></td>
                                <td>2012-2014</td>
                                <td class="der">USD 150.000</td>
                                <td>30 de Enero 2012</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/ON-2011-Fiscal-Period-Small.pdf">Reporte Anual 2011 (ER)</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Octubre 2012</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Narrative-Fiscal-Year-2012.pdf">Reporte Escrito 2012</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Anexo-Metas-2013.pdf">Anexo Metas 2013</a></td>
                                <td></td>
                                <td class="der">USD 175.000</td>
                                <td>30 de Enero 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/ONFI-ER-Template-Fundacion17102013-Small.pdf">Reporte Anual 2012 (ER)</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Junio 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/2013-Q2-Report-2013.08.20-ON-GOALS.pdf">Avance Metricas 2013</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Octubre 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Narrative-of-2013-Goals-for-Ciudadano-Inteligente.pdf">Informe Escrito 2013</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/FCI-Amendment-No-2-2014.pdf">Anexo Metas 2014</a></td>
                                <td></td>
                                <td class="der">USD 175.000</td>
                                <td>30 de Enero 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/ONFI-ER-FCI-Small.pdf">Reporte Anual 2013 (ER)</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Abril 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/FCI-2014.03-KPI.pdf">Reporte Trimestral 2014-T1</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Julio 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/NarrativeReportON.pdf">Reporte Semestral 2014-S1</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Octubre 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/Narrative Report 2012-2014.pdf">Reporte Final Grantt 11'2011-2'2015</a></td>
                            </tr>
                            <!--
                            <tr>
                                <td></td>
                                <td>2015</td>
                                <td></td>
                                <td>30 de Enero 2015</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>30 de Marzo 2015</td>
                                <td></td>
                            </tr>
                            -->
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- OSF -->
        <div class="modal fade modal-osf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Open Society Foundations</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/OSF_LAP_FCI_Proposal-General_2015_One_Year.pdf">Propuesta Aceptada</a><a href="{{ site.baseurl }}/assets/attachments/OSFGrantLetterFPOSOR2014-16592.pdf"><br>Acuerdo Firmado</a></td>
                                <td>2015</td>
                                <td class="der" nowrap="nowrap">USD 200.000</td>
                                <td>31 de Diciembre 2015</td>
                                <td>Reporte Final</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/LAP_Propuesta-Proyecto_RLTL_FCI.pdf">Barometro Latinoamericano (RLTL)</a></td>
                                <td>2013</td>
                                <td class="der">USD 64.200</td>
                                <td>31 de Diciembre 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/LAP_Informe_Narr_RLTL_FCI.pdf">Informe Final</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>31 de Abril 2014</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/LAP_Informe-de-Avance-Anexo-3.pdf">Informe Post Entrega</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/OR2012-00705-Signedsmallpdf.com_.pdf">FCI en Latam</a></td>
                                <td>2013</td>
                                <td class="der">USD 130.000</td>
                                <td>01 de Enero 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/LAP_Informe_FCI_Feb_2013.pdf">Informe Intermedio Enero</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>01 de Mayo 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/LAP_Narr-FCI-May-2013.pdf">Informe Intermedio Mayo</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td nowrap="nowrap">30 de Noviembre 2013</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/LAP_Narr_FCI_Nov_2013.pdf">Informe Final</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/20029768.pdf">Vota Inteligente</a></td>
                                <td nowrap="nowrap">2009-2012</td>
                                <td class="der" nowrap="nowrap">USD 488.000</td>
                                <td>01 de Enero 2011</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/2011.01.01-Interim-Narrative-Report.pdf">Informe Intermedio</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>01 de Enero 2012</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/2012.01.01-Interim-Narrative-Report.pdf">Informe Intermedio</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>31 de Diciembre 2012</td>
                                <td><a href="{{ site.baseurl }}/assets/attachments/OSI-Report.pdf">Informe Final</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- UNICEF -->
        <div class="modal fade modal-unicef" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">UNICEF</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped reportes">
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/PCASignedFCI.pdf">Advocacy Vizard</a></td>
                                <td>2014-2015</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/UNICEFFirstFundsRequestFCI.pdf">Primera Solicitud Fondos</a></td>
                                <td>15 / Sept / 2014</td>
                                <td class="der">USD 26.750</td>
                                <td>14 / Dic  / 2014</td>
                                <td>Primera Reunión Consultiva</a></td>
                            </tr>
                            <tr>
                                <td><a href="{{ site.baseurl }}/assets/attachments/UNICEFSecondFundsRequestFCI.pdf">Segunda Solicitud Fondos</a></td>
                                <td>15 / Nov / 2014</td>
                                <td class="der">USD 31.750</td>
                                <td>14 / Mar / 2014</td>
                                <td>Segunda Reunión Consultiva</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>15 / Mar / 2015</td>
                                <td>Primer Informe Narrativo</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>31 / Mar / 2015</td>
                                <td>Primer Informe Financiero</td>
                            </tr>
                            <tr>
                                <td>Tercera Solicitud Fondos</td>
                                <td>15 / Feb / 2015</td>
                                <td class="der">USD 5.688</td>
                                <td>14 / Jun / 2014</td>
                                <td>Tercera Reunión Consultiva</td>
                            </tr>
                            <tr>
                                <td>Cuarta Solicitud Fondos</td>
                                <td>15 / Jun / 2015</td>
                                <td class="der">USD 2.688</td>
                                <td>14 / Sept / 2015</td>
                                <td>Cuarta Reunión Consultiva</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>15 / Sept / 2015</td>
                                <td>Segundo Informe Narrativo</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>14 / Dic / 2015</td>
                                <td>Reporte Final Proyecto</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>31 / Mar / 2016</td>
                                <td>Segundo Informe Financiero</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</section>
