<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.baseurl }}" />
    <!-- open graph -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.baseurl }}">
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/logo-fci-600x600.png">
    <meta property="og:description" content="{{ site.description }}">
    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ciudadanoi">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:creator" content="@ciudadanoi">
    <meta name="twitter:image" content="http:{{ site.baseurl }}/assets/img/logo-fci-600x600.png">
    <!-- custom CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/projects.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/animate.min.css" />
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery_version }}/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/modernizr.custom.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.nav.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.scrollTo.js"></script>
</head>
