<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.baseurl }}" />
    <!-- open graph -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.baseurl }}">
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/logo-fci-600x600.png">
    <meta property="og:description" content="{{ site.description }}">
    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ciudadanoi">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:creator" content="@ciudadanoi">
    <meta name="twitter:image" content="http:{{ site.baseurl }}/assets/img/logo-fci-600x600.png">
    <!-- custom CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/projects.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/animate.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Poppins:700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
    <!-- Js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/modernizr.custom.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.nav.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.scrollTo.js"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8BXP8C');</script>
    <!-- End Google Tag Manager -->

    <!-- Hotjar Tracking Code for https://ciudadanointeligente.org/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1003701,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
