<div class="container mt-30" id="how">
  <div class="section-padding">
    <div class="row">
      <div class="col-md-11 offset-md-1 how-title how-en mt-60">
        <h4 class="d-block d-md-none mb-30">What we do</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="box bg-red mb-30">
              <h4 class="white">Tools</h4>
              <p class="destacado white">With our tools, you can create better democracies and better societies.</p>
              <a class="btn btn-secondary" href="https://herramientas.ciudadanointeligente.org/" target="_blank">Check them out <i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box bg-cyan mb-30">
              <h4 class="white">Training And Collective Action</h4>
              <p class="destacado white">We prompt effective citizen participation, promote accountability and strengthen emerging leaders who want to change the world.</p>
              <a class="btn btn-secondary" href="{{ site.baseurl }}/projects-en">View projects <i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box bg-magenta mb-30">
              <h4 class="white">Fight Against Corruption</h4>
              <p class="destacado white">We are committed with transparency and making sure that democracy serves the public good, and not just the interest of a few privileged groups.</p>
              <a class="btn btn-secondary" href="{{ site.baseurl }}/corruption-en">View projects <i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
