<div class="container mt-30" id="how">
  <div class="section-padding">
    <div class="row">
      <div class="col-md-11 offset-md-1 how-title how-pt mt-60">
        <h4 class="d-block d-md-none mb-30">Como o fazemos</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="box bg-red mb-30">
              <h4 class="white">Como o fazemos</h4>
              <p class="destacado white">Com nossas ferramentas você pode criar melhores democracias e melhores sociedades.</p>
              <a class="btn btn-secondary" href="https://herramientas.ciudadanointeligente.org/" target="_blank">Veja as ferramentas<i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box bg-cyan mb-30">
              <h4 class="white">Ação coletiva e formação</h4>
              <p class="destacado white">Nós promovemos a participação cívica efetiva. Incentivamos a prestação de contas e fortalecemos lideranças jovens que queiram mudar o mundo.</p>
              <a class="btn btn-secondary" href="{{ site.baseurl }}/projects-pt">Veja os projetos<i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box bg-magenta mb-30">
              <h4 class="white">Luta contra a corrupção</h4>
              <p class="destacado white">Nós estamos comprometidos com a transparência e de assegurar que nossa democracia sirva ao interesse general, e não ao interesse de grupos privilegiados.</p>
              <a class="btn btn-secondary" href="{{ site.baseurl }}/corruption-pt">Veja os projetos<i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
