<div class="container mt-30" id="how">
  <div class="section-padding">
    <div class="row">
      <div class="col-md-11 offset-md-1 how-title mt-60">
        <h4 class="d-block d-md-none mb-30">Cómo lo hacemos</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="box bg-red mb-30">
              <h4 class="white">Herramientas</h4>
              <p class="destacado white">Con nuestras herramientas puedes crear mejores democracias y mejores sociedades.</p>
              <a class="btn btn-secondary" href="https://herramientas.ciudadaniai.org/" target="_blank">Ver herramientas <i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box bg-cyan mb-30">
              <h4 class="white">Acción colectiva y formación</h4>
              <p class="destacado white">Impulsamos la participación ciudadana efectiva. Promovemos la rendición de cuentas y fortalecemos liderazgos jóvenes que quieren cambiar el mundo.</p>
              <a class="btn btn-secondary" href="{{ site.baseurl }}/projects">Ver proyectos <i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box bg-magenta mb-30">
              <h4 class="white">Lucha contra la corrupción</h4>
              <p class="destacado white">Estamos comprometidos con la transparencia y por asegurar que nuestra democracia sirva al interés general, y no al de grupos privilegiados.</p>
              <a class="btn btn-secondary" href="{{ site.baseurl }}/corruption">Ver proyectos <i class="far fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
