<section id="contacto" class="pb-200 pt-200">
    <div class="row">
      <div class="col-md-7">
        <p class="small">Únete al equipo</p>
        <h1>¿Quieres ser parte de nuestro equipo?</h1>
        <h5 class="mb-60 mt-15">Recibimos solicitudes de prácticas y pasantías todo el año, y postulaciones a cargos full o part time sólo cuando se abren nuevas convocatorias. Si te interesa trabajar en Ciudadano Inteligente, llena este formulario contándonos brevemente sobre tu experiencia y por qué te interesa nuestra Fundación.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 offset-md-3">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe0ogUrTqokUQKHwoiOfhsOxhChbpFETUEMY-knTr59LwRu-Q/viewform?embedded=true" width="760" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
          
          <!--formulario antiguo
        <form method="POST" action="https://formspree.io/info@ciudadanointeligente.org" class="form mb-60">
          <label class="w-100">
              Nombre:
              <input class="mb-15" type="text" placeholder="Tu Nombre" name="name" required>
          </label>
          <label class="w-100">
              Email:
              <input type="email" placeholder="nombre@email.com" name="_replyto" required>
          </label>
          <label class="w-100">
            Asunto/Motivo de consulta:
              <select name="_subject" class="w-100">
                <option value="prensa">Selecciona</option>
                <option value="practica">Práctica o pasantía</option>
                <option value="voluntariado">Voluntariado</option>
                <option value="pasantía">Postulación a vacante</option>
              </select>
          </label>
          <label class="w-100">
            Mensaje
            <textarea name="message" placeholder="Mensaje" rows="8" cols="0" ></textarea>
          </label>
          <input type="submit" class="btn btn-primary mb-60" name="submit" value="Enviar">
    	</form>
            -->
    </div>
  </div>
</section>


