<section id="contacto" class="pb-200 pt-200">
    <div class="row">
      <div class="col-md-7">
        <p class="small">Junte-se à equipe</p>
        <h1>Deseja fazer parte da nossa equipe? </h1>
        <h5 class="mb-60 mt-15">Recebemos pedidos de durante todo o ano, e os pedidos para cargos em período integral somente quando novas chamadas são abertas. Se você está interessado (a) em trabalhar com o Smart Citizen, preencha este formulário nos informando brevemente sobre sua experiência e por que você está interessado em nossa Fundação.
.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 offset-md-3">
        <form method="POST" action="https://formspree.io/info@ciudadaniai.org" class="form mb-60">
          <label class="w-100">
              Nome:
              <input class="mb-15" type="text" placeholder="Teu nome" name="name" required>
          </label>
          <label class="w-100">
              Email:
              <input type="email" placeholder="nome@email.com" name="_replyto" required>
          </label>
          <label class="w-100">
            Sujeito:
              <select name="_subject" class="w-100">
                <option value="select">Selecionar</option>
                <option value="practica">Estágio</option>
                <option value="voluntariado">Voluntariado</option>
                <option value="pasantía">Aplicação para vacância</option>
              </select>
          </label>
          <label class="w-100">
            Mensagem:
            <textarea name="message" placeholder="Mensaje" rows="8" cols="0" ></textarea>
          </label>
          <input type="submit" class="btn btn-primary mb-60" name="submit" value="Enviar">
    	</form>
    </div>
  </div>
</section>
