<section id="contacto" class="pb-200 pt-200">
    <h1>¿Quieres ser parte de nuestro equipo?</h1>
    <div class="row">
      <div class="col-md-6">
        <!-- Form prácticas -->
        <h6 class="mb-60">¿Tienes algunas horas disponibles a la semana? ¿Quieres ganar experiencia en el mundo de la sociedad civil y el fortalecimiento de las democracias? Escríbenos a </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="POST" action="https://formspree.io/info@ciudadanointeligente.org" class="form mb-60">
          <label class="w-100">
              Nombre:
              <input class="mb-15" type="text" placeholder="Tu Nombre" name="name" required>
          </label>
          <label class="w-100">
              Email:
              <input type="email" placeholder="nombre@email.com" name="mail" required>
          </label>
          <label class="w-100">
            Asunto/Motivo de consulta:
              <select name="select" class="w-100">
                <option value="prensa">Selecciona</option>
                <option value="practica">Práctica</option>
                <option value="voluntariado">Voluntariado</option>
                <option value="pasantía">Pasantía</option>
              </select>
          </label>
          <label class="w-100">
            Mensaje
            <textarea name="message" placeholder="Mensaje" rows="8" cols="0" ></textarea>
          </label>
          <input type="submit" class="btn btn-primary mb-60" name="submit" value="Enviar">
    	</form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Haz tu práctica con nosotros </h5>
      ¿Quieres que tu práctica profesional sea más que fotocopias y café? Si estás en Santiago de Chile, puedes postular a dar tus primeros pasos en el mundo profesional en Ciudadano Inteligente. Escríbenos a <a href="mailto:practicas@ciudadanointeligente.org">practicas@ciudadanointeligente.org</a>
      <h3 class="mt-60 mb-30">¿Quieres saber más?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Form info -->
      <form method="POST" action="https://formspree.io/info@ciudadanointeligente.org" class="form">
        <label class="w-100">
            Nombre:
            <input type="text" placeholder="Tu Nombre" name="name" required>
        </label>
        <label class="w-100">
            Email:
            <input type="email" placeholder="nombre@email.com" name="mail" required>
        </label>
        <label class="w-100">
          Asunto:
          <input type="text" placeholder="Asunto" name="name" required>
        </label>
        <label class="w-100">
          Mensaje:
          <textarea name="message" placeholder="Mensaje" rows="8" cols="0" ></textarea>
        </label>
        <input type="submit" class="btn btn-primary" name="submit" value="Enviar">
    </form>
    </div>
  </div>
</section>
