<div id="menu" class="header-menu fixed">
    <div class="container">
        <div class="row">
            <nav role="navigation" class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- logo-->
                    <span class="navbar-brand logo">
                        <img src="{{ site.baseurl }}/assets/img/logo-ciudadanoi.png" tabindex="1">
                    </span>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- navigation menu-->
                    <ul class="nav navbar-nav">
                        <li class="current"><a href="{{ site.baseurl }}/#header" tabindex="2">Inicio</a></li>
                        <li><a href="{{ site.baseurl }}/#proyectos" tabindex="3">Proyectos</a></li>
                        <li><a href="{{ site.baseurl }}/#sobre-nosotros" tabindex="4">Sobre nosotros</a></li>
                        <li><a href="{{ site.baseurl }}/#transparencia" tabindex="5">Transparencia</a></li>
                        <li><a href="//comunidadi.tumblr.com/" target="_blank" tabindex="6">Blog</a></li>
			                  <li><a href="#newsletter" tabindex="7">Suscripción y contacto</a></li>
                        <li><a href="//en.ciudadanointeligente.org/" tabindex="8">English version</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
