<div id="menu" class="header-menu fixed">
    <div class="container">
        <div class="row">
            <nav role="navigation" class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- logo-->
                    <span class="navbar-brand logo">
                        <img src="{{ site.baseurl }}/img/logo-ciudadanoi.png">
                    </span>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- navigation menu-->
                    <ul class="nav navbar-nav">
                        <li class="current"><a href="#header">Inicio</a></li>
                        <li><a href="#proyectos">Proyectos</a></li>
                        <li><a href="#sobre-nosotros">Sobre nosotros</a></li>
                        <li><a href="#transparencia">Transparencia</a></li>
                        <li><a href="http://blog.ciudadanointeligente.org/" target="_blank">Blog</a></li>
			<li><a href="#newsletter">Suscripción y contacto</a></li>
                        <li><a href="http://en.ciudadanointeligente.org/">English version</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
