<section id="proyectos" class="pt-200 pb-200">
  <div class="container">
    <div id="projectscarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block fullvh" src="{{ site.baseurl }}/assets/img/projects/partidospublicos.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block fullvh" src="{{ site.baseurl }}/assets/img/projects/vota.png" alt="First slide">
            </div>
      </div>
    </div>
    {% assign counter = 1 %}
    <div class="row">
      {% assign project=site.projects | where:"lang", page.lang %}
      {% for project in site.projects %}
      {% for category in project.categories %}
      {% if {{project.category}} == "accion" %}
        <!-- {% if {{project.lang}} == {{page.lang}} %} -->
                <div class="col-md-4 col-sm-6">
                  <a href="{{ project.proj_site_url }}" target="_blank">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        {% if page.lang=='en' %}
                          <div class="small">Collective action and training</div>
                        {% endif %}
                        {% if page.lang=='es' %}
                          <p class="small">Acción colectiva y formación</p>
                        {% endif %}
                        <h3>{{ project.proj_title }}</h3>
                        <i class="fal fa-external-link-square"></i> {{ project.proj_site_url }}
                        <p class="mt-30">{{ project.proj_description }}</p>
                      </div>
                    </a>
                  </div>
                </div>
          {% assign cnt = counter|modulo:3 %}
          {% assign counter = counter | plus:1 %}
        <!-- {% endif %} -->
        {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
