<section class="pt-200 pb-200" id="rules">
  <div class="row">
    <div class="col-md-5">
      {% if page.lang=='en' %}
        <h1>Our rules</h1>
        <h5 class="mb-60">We work collectively and respectfully. Get to know the rules and protocols we follow.</h5>
      {% elsif page.lang == 'pt' %}
        <h1>Our rules</h1>
        <h5 class="mb-60">We work collectively and respectfully. Get to know the rules and protocols we follow.</h5>
      {% else %}
        <h1>Nuestras reglas</h1>
        <h5 class="mb-60">Nuestra forma de trabajo es colectiva y respetuosa. Conoce nuestras reglas del juego.</h5>
      {% endif %}
    </div>
  </div>
  <div class="mb-60">
    <div class="row">
      <div class="col-md-1">
        <i class="fal fa-file-invoice fa-5x"></i>
      </div>
      <div class="col-md-4">
        {% if page.lang=='en' %}
          <h6>Our <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">Conflict of Interest Prevention Guidelines</a></h6>
        {% elsif page.lang == 'pt' %}
          <h6>Our <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">Conflict of Interest Prevention Guidelines</a></h6>
        {% else %}
        <h6>Nuestro <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">Manual de Prevención de Conflictos de Interés.</a></h6>
        {% endif %}
      </div>
      <div class="col-md-1 offset-md-1">
        <i class="fal fa-file-invoice fa-5x"></i>
      </div>
      <div class="col-md-4">
        {% if page.lang=='en' %}
        <h6>Our <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">Gender Equality Manifest and Protocol</a></h6>
        {% elsif page.lang == 'pt' %}
          <h6>Our <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">Gender Equality Manifest and Protocol</a></h6>
        {% else %}
        <h6>Nuestro <a href="https://docs.google.com/document/d/1dODbhkGMZN_KP-a5sG9e452mxOalQstcBZhhYKE4wqI/edit?usp=sharing" target="_blank">Manifiesto y Protocolo de Género.</a></h6>
        {% endif %}
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-1">
        <i class="fal fa-file-invoice fa-5x"></i>
      </div>
      <div class="col-md-4">
        {% if page.lang=='en' %}
          <h6>Our <a href="https://docs.google.com/document/d/1hthbZDJ8f_2EeS5de9tlF1_BZ6fYJonpT8gKdMzcmMo/edit" target="_blank">Protocol for the Prevention and Approach of Sexual Harassment</a></h6>
        {% elsif page.lang == 'pt' %}
          <h6>Our <a href="https://docs.google.com/document/d/1hthbZDJ8f_2EeS5de9tlF1_BZ6fYJonpT8gKdMzcmMo/edit" target="_blank">Protocol for the Prevention and Approach of Sexual Harassment</a></h6>
        {% else %}
          <h6>Nuestro <a href="https://docs.google.com/document/d/1hthbZDJ8f_2EeS5de9tlF1_BZ6fYJonpT8gKdMzcmMo/edit" target="_blank">Protocolo para la Prevención y Abordaje del Acoso Sexual</a></h6>
        {% endif %}
      </div>
      <div class="col-md-1 offset-md-1">
        <i class="fal fa-file-invoice fa-5x"></i>
      </div>
      <div class="col-md-4">
        {% if page.lang=='en' %}
          <h6>Our<a href="https://docs.google.com/document/d/1_mBOB2RZp1YOEuxtUMZjU1HiFIerAv7geWznlxQa9_w/edit" target="_blank"> code of conduct</a></h6>
        {% elsif page.lang == 'pt' %}
          <h6>Our<a href="https://docs.google.com/document/d/1_mBOB2RZp1YOEuxtUMZjU1HiFIerAv7geWznlxQa9_w/edit" target="_blank"> code of conduct</a></h6>
        {% else %}
          <h6>Nuestro <a href="https://docs.google.com/document/d/1_mBOB2RZp1YOEuxtUMZjU1HiFIerAv7geWznlxQa9_w/edit" target="_blank">Código de Conducta</a></h6>
        {% endif %}
      </div>
    </div>
  </div>
</section>
