<section class="pt-200 pb-200" id="rules">
  <div class="row">
    <div class="col-md-5">
      <h1>Nuestras reglas</h1>
      <h5 class="mb-60">Nuestra forma de trabajo es colectiva y respetuosa. Conoce nuestras reglas del juego.</h5>
      <div class="row">
        <div class="col-md-2">
          <i class="fal fa-file-invoice fa-5x"></i>
        </div>
        <div class="col-md-10">
          <h6>Nuestro <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">manual de Prevención de Conflictos de Interés</a></h6>
          <h6>Nuestro <a href="https://docs.google.com/document/d/1dODbhkGMZN_KP-a5sG9e452mxOalQstcBZhhYKE4wqI/edit?usp=sharing" target="_blank">manifiesto y protocolo de género</a></h6>
        </div>
      </div>
    </div>
  </div>
</section>
