
<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
</head>


<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">

        <img src="{{ site.baseurl }}/assets/img/hero01.png">
      </div>
      <div class="blog-slider__content">
        <span class="small">Destacados</span>
        <div class="blog-slider__title">Escuela de Incidencia</div>
        <div class="blog-slider__text">  escueladeincidencia.org</div>
        <div class="blog-slider__text">Entrenamos a jóvenes líderes latinoamericanos para transformar sus ideas en cambio social colaborativo y concreto.</div>
        <div class="blog-slider__text">Este proyecto lo hacemos para luchar contra la corrupción</div>
        <a href="#" class="btn btn-primary btn-round"><i class="fal fa-ellipsis-h"></i></a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="{{ site.baseurl }}/assets/img/hero02.png">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="{{ site.baseurl }}/assets/img/hero03.png">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>

  </div>
  <div class="blog-slider__pagination"></div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>

<script  src="{{ site.baseurl }}/assets/js/home-slider.js"></script>
