<div id="carouselhero" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption-bg">
      </div>
      <img class="img-fluid" src="{{ site.baseurl }}/assets/img/hero01.png" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Escuela de incidencia</h5>
        <p>Entrenamos a jóvenes líderes latinoamericanos para transformar sus ideas en cambio social colaborativo y concreto.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption-bg">
      </div>
      <img class="img-fluid" src="{{ site.baseurl }}/assets/img/hero03.png" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Chileleaks</h5>
        <p>Entrenamos a jóvenes líderes latinoamericanos para transformar sus ideas en cambio social colaborativo y concreto.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselhero" role="button" data-slide="prev">
    <i class="far fa-long-arrow-left"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselhero" role="button" data-slide="next">
    <i class="far fa-long-arrow-right"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
