<p>- FCI actualmente está financiada por Google inc. Omidyar Network y el Open Society Foundations de George Soros. Detalle de los aportes de cada cual, aquí.</p>
<p>- Hazel Feigenblatt es Directora General de Global Integrity, organización sin fines de lucro que recibe fondos de Omidyar Network.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es adherente del Movimiento Revolución Democrática.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Consejo Asesor de Chile Transparente.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser es miembro de la Red de Profesionales de Espacio Publico.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Directorio de la Fundación Code for América, de los Estados Unidos, en lo que respecta a su programa internacional Code for All.</p>
<p>- Felipe Álvarez pertenece a la organización de circo Circo Roto</p>
<p>- Margarita Maira milita en el partido político Revolución Democrática</p>
<p>- Octavio Del Favero trabajó en el Ministerio Secretaría General de la Presidencia (2014-2015).</p> 
<p>- Marianka Egaña fue militante del partido Unión Demócrata Independiente durante los años 2009 al 2013.</p> 
<p>- Marianka Egaña Trabajó como Asesora en el Gabinete de la Subsecretaría de Servicios Sociales, del Ministerio de Desarrollo Social  durante el año 2013.</p>
<p>- Auska Ovando trabajó como jefa de comunicaciones de la Campaña de Giorgio Jackson para diputado (2013).</p> 
<p>- Auska Ovando trabajó como reportera en Radio Cooperativa (2011-2013).</p>
<p>- Beatriz Irarrázaval trabajó en la Subsecretaría de Desarrollo Regional entre 2013 y 2016.</p>
<p>- Beatriz Irarrázaval milita en Revolución Democrática.</p>
<p>- Colombina Schaeffer participó del Comunal Providencia del Movimiento Autonomista.</p>
<p>- Colombina Schaeffer participó de la campaña presidencial de Marco Enríquez Ominami el año 2009.</p>
<p>- Luti Guedes trabajó en el Laboratorio de Participación Ciudadana e Innovación Pública de la alcaldía de Rio de Janeiro, de 2013 a 2017, en el segundo mandato de Eduardo Paes en el ayuntamiento..</p>
<p>- Manuel Barros colaboró durante 2014 en el Comité de Reformas Polticas Estructurales de Revolución Democrática.</p>
