<p>- FCI recibió financiamiento por parte del Banco Mundial para la capacitación de varias ONG’s latinoamericanas.</p>
<p>- El miembro del Directorio, David Sasaki, trabajó como consultor para Open Society Foundations entre los años 2010 – 2011.</p>
<p>- El miembro del Directorio Agustín Villena, ha prestado asistencia técnica al desarrollo del sitio web de campaña del ex candidato presidencial Andrés Velasco.</p>
<p>- El Presidente de FCI, Rodrigo Mobarec, trabajó en el Ministerio de Planificación entre los años 2010 y 2012.</p>
<p>- El Director de Ciudadano Inteligente, Felipe Heusser, prestó Consultoría a IDRC (International Development Research Center) del Gobierno de Canadá entre 2011 y 2012.</p>
<p>- El Director de Ciudadano Inteligente, Felipe Heusser, prestó Consultoría a CEPAL-Naciones Unidas entre 2011 y 2012.</p>
<p>- El Director de Ciudadano Inteligente, Felipe Heusser,  fue militante del Partido Demócrata Cristiano entre los años 2003 y 2010.</p>
<p>- El Director de Ciudadano Inteligente, Felipe Heusser, trabajó en el Ministerio del Trabajo del Gobierno de Chile entre 2006 y 2007.</p>
<p>- Álvaro Castañón realizó una consultoría para la campaña digital de Claudio Orrego como pre-candidato presidencial hasta Febrero 2013.</p>
<p>- Álvaro Castañón apoyó al candidato a diputado Sebastián Iglesias Sichel en la coordinación de su estrategia digital.</p>
<p>- Álvaro Castañón fue Presidente de la Federación de Estudiantes de la Universidad Diego Portales durante el año 2007.</p>
<p>- Felipe Álvarez participó en la campaña a diputado de Giorgio Jackson.</p>
<p>- María Luisa Sotomayor apoyó al candidato a diputado Sebastián Iglesias Sichel en la producción de su franja no televisiva.</p>
<p>- María Jaraquemada trabajó en el Consejo para la Transparencia (2009-2011) y en el Ministerio Secretaría General de la Presidencia (2011-2014)</p>
<p>- María Luisa Sotomayor adhiere a la campaña Marca tu Voto, y está apoyando en la producción de su campaña creativa.</p>
<p>- El Presidente del Directorio de FCI, Rodrigo Mobarec, trabaja en la empresa Colbún.</p>
<p>- El miembro del Directorio, David Sasaki, trabajó en Omidyar Network que financia Fundación Ciudadano Inteligente.</p>
<p>- María Jaraquemada colaboró en la elaboración de un Código de Conductas para Azerta</p>
<p>- Rodrigo Echecopar es militante del partido político Revolución Democrática</p>
<p>- María José Tapia es militante del partido político Revolución Democrática</p> 
