<p>- FCI actualmente está financiada por Google inc. Omidyar Network y el Open Society Foundations de George Soros. Detalle de los aportes de cada cual, aquí.</p>
<p>- Hazel Feigenblatt es Directora General de Global Integrity, organización sin fines de lucro que recibe fondos de Omidyar Network.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es adherente del Movimiento Revolución Democrática.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Consejo Asesor de Chile Transparente.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser es miembro de la Red de Profesionales de Espacio Publico.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Directorio de la Fundación Code for América, de los Estados Unidos, en lo que respecta a su programa internacional Code for All.</p>
<p>- Felipe Álvarez pertenece a la organización de circo Circo Roto</p>
<p>- Margarita Maira trabajó en la Secretaría de Comunicaciones del Gobierno de Chile entre 2014 y 2016</p>
<p>- Margarita Maira colabora con el partido político Revolución Democrática</p>
<p>- María José Tapia es militante del partido político Revolución Democrática</p>
<p>- Octavio Del Favero trabajó en el Ministerio Secretaría General de la Presidencia (2014-2015).</p> 
<p>- Marianka Egaña fue militante del partido Unión Demócrata Independiente durante los años 2009 al 2013.</p> 
<p>- Marianka Egaña Trabajó como Asesora en el Gabinete de la Subsecretaría de Servicios Sociales, del Ministerio de Desarrollo Social  durante el año 2013.</p>
