<section id="transparencia" class="pt-200 mb-90">
  <div class="row">
    <div class="col-md-5 mb-60">
      <h1>Desclassificação</h1>
      <p class="destacado">A equipe de Cidadania Inteligente subscreveu o compromisso de transparentar qualquer situação que pudesse comprometer o interesse da Fundação, e abster-se de participar em aquelas áreas que pudessem representar um conflito de interesse. Para manter uma maior transparência, aqui desclassificamos situações e condições com relação aos interesses dos integrantes que trabalham conosco.</p>
    </div>
  </div>
    <div class="row">
        <div class="col-md-9 offset-md-3 mb-60">
          <h3>Situações atuais</h3>
          {% include transparency-current-declassification-pt.html %}
        </div>
    </div>
        </div>
    </div>
</section>
