<section id="transparencia" class="pt-200 mb-90">
  <div class="row">
    <div class="col-md-5 mb-60">
      <h1>Declasificación</h1>
      <p class="destacado">El equipo de Ciudadano Inteligente ha suscrito el compromiso de transparentar cualquier situación que pudiese comprometer el interés de la Fundación, y abstenerse de participar en aquellas áreas que pudieran representar un conflicto de interés. Para mantener una máxima transparencia, aquí desclasificamos situaciones y condiciones respecto a los intereses de quienes trabajan con nosotros.</p>
    </div>
  </div>
    <div class="row">
        <div class="col-md-9 offset-md-3 mb-60">
          <h3>Situaciones actuales</h3>
          {% include transparency-current-declassification.html %}
        </div>
    </div>
        </div>
    </div>
</section>
