<p>- FCI actualmente está financiada por Google inc. Omidyar Network y el Open Society Foundations de George Soros. Detalle de los aportes de cada cual, aquí.</p>
<p>- Hazel Feigenblatt es Directora General de Global Integrity, organización sin fines de lucro que recibe fondos de Omidyar Network.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es adherente del Movimiento Revolución Democrática.</p.>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Consejo Asesor de Chile Transparente.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser es miembro de la Red de Profesionales de Espacio Publico.</p>
<p>- El Miembro del Directorio de Ciudadano Inteligente, Felipe Heusser, es miembro del Directorio de la Fundación Code for América, de los Estados Unidos, en lo que respecta a su programa internacional Code for All.</p>
<p>- María Jaraquemada colaboró en la elaboración de un Código de Conductas para Azerta</p>
<p>- Rodrigo Echecopar es miembro del Movimiento Revolución Democrática</p>
