<section id="transparencia">
    <h2>Transparencia</h2>
    <div class="menu-interno"><a href="#estatutos" target="_blank"> Estatutos </a>/<a href="#desclasificacion"> Desclasificación </a>/<a href="#financiamiento"> Financiamiento</a>/<a href="#memorias"> Memorias</a></div>
    <div id="estatutos"></div>
    <h3>Estas son las reglas bajo las cuales nos regimos</h3>
    <div class="h4">Descarga<a href="https://ckannet-storage.commondatastorage.googleapis.com/2014-09-01T19:12:41.019Z/estatutos-fundacion-ciudadano-inteligente.pdf" target="_blank"> nuestros estatutos <i class="fa fa-download"></i></a></div>
    <div class="row rules">
        <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-corazon.svg"></div>
        <div class="col-md-10"><div class="h4">La Fundación es un lugar donde cualquier tipo de discriminación por razones políticas, religiosas, de género, sexuales, etc. están excluidas. Defendemos el derecho a ser diferentes.</div></div>
    </div>
    <div class="row rules">
        <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-idea.svg"></div>
        <div class="col-md-10"><div class="h4">La Fundación es un lugar de trabajo que recibe con los brazos abiertos  la innovación, las ideas, los sueños por cambiar las relaciones de poder desde unos a pocos, a muchos.</div></div>
    </div>
    <div id="desclasificacion"></div>
    <h3>Desclasificación de la Fundación Ciudadano Inteligente</h3>
    <div class="h4">Revisa nuestra <a href="https://docs.google.com/a/votainteligente.cl/spreadsheets/d/1BRxiP9rUE_Iu_dbrvu7NHWwMSFo53wO7Z6g7meHBH4s/edit#gid=0" target="_blank">agenda de gestión de intereses particulares</a></div>
    <p>A continuación FCI transparenta situaciones o condiciones que a ojos de la ciudadanía pudieran comprometer el interés en el actuar de nuestra organización. Optamos por transparentar porque no tenemos nada que ocultar. Más allá de cualquier interpretación de los hechos abajo señalados, el compromiso de Ciudadano Inteligente y su equipo está con el cumplimiento de nuestra misión, cual es, distribuir poder desde los pocos hacia los muchos por la vía de la transparencia y la participación ciudadana, usando como herramienta de cambio, las tecnologías de la información. Los miembros de Ciudadano Inteligente han suscrito el compromiso de transparentar cualquier situación que pudiere comprometer el interés de nuestra Fundación, y abstenerse de participar en aquellas áreas que pudieran representar un conflicto de interés.</p>
    <p>Si quieres pedir más información a Ciudadano Inteligente, escribe a info@ciudadanointeligente.org.</p>
    <div class="row">
        <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-presente">Situaciones en el presente</button></div>
        <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-pasado">Situaciones en el pasado</button></div>
    </div>
    <div class="modal fade modal-desclasificacion-presente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Desclasificación: situaciones en el presente</h4>
                </div>
                <div class="modal-body">
                    {% include transparency-current-declassification.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-desclasificacion-pasado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Desclasificación: situaciones en el presente</h4>
                </div>
                <div class="modal-body">
                    {% include transparency-past-declassification.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="financiamiento"></div>
    {% include funding.html %}
    <div id="memorias"></div>
    {% include memorias.html %}
</section>
