<!DOCTYPE html>
<html>
  {% include head.html %}

  {% include notification.html %}

<!--   <div class="fondo">
    <img src="img/fondo-inicio.jpg">
  </div> -->

    <body>

    {% include header.html %}

      <section id="inicio">
        <div class="hero">
          
          <div class="container">
            <h1>Usamos tecnología para transparentar y participar en democracia, trabajamos para trasladar poder desde los pocos hacia los muchos.</h1>
            <div class="row pilares">
              <div class="col-md-4">
                <img src="img/1-transparencia.svg">
                <h4>Promover la <strong>Transparencia</strong> para propiciar el establecimiento de una cultura de acceso a la información pública y de reutilización de los datos abiertos.</h4>
              </div>
              <div class="col-md-4">
                <img src="img/2-rendicion.svg">
                <h4>Impulsar la <strong>Rendición de Cuentas</strong> desarrollando mayores y mejores mecanismos que permitan privilegiar el interés colectivo por sobre los intereses individuales.</h4>
              </div>
              <div class="col-md-4">
                <img src="img/3-accioncolectiva.svg">
                <h4>Fortalecer la <strong>Participación Ciudadana</strong> efectiva y fomentar la acción colectiva, consolidando así democracias más representativas y deliberativas.</h4>
              </div>
            </div>

          </div>

          <div class="scroll-to-top">
          </div>
        </div>
      </section>

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create', "{{ site.analytics }}" );ga('send','pageview');
    </script>
    </body>
</html>