<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vota Inteligente</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Plataforma de Ciudadano Inteligente para generar propuestas ciudadanas para programas municipales y que entrega información sobre candidatos electorales">
  <style>
    html, body {
      border: 0px;
      margin: 0px;
    }
  </style>
</head>
<body>
  {{content}}
</body>
</html>