---
layout: default
---
<div id="hero">
  <div class="intro-hero">
    {% if page.lang=='en' %}
      <h1 class="animated slideInLeft"><span>We develop technology to strengthen</span></h1>
      <h1 class="animated slideInRight"><span>democracies in Latin America.</span></h1>
    {% endif %}
    {% if page.lang=='es' %}
      <h1 class="animated slideInLeft"><span>Desarrollamos tecnología para fortalecer</span></h1>
      <h1 class="animated slideInRight"><span>las democracias en América Latina.</span></h1>
    {% endif %}
    <h1 class="mt-30">
      <a href="#about"><i class="fal fa-long-arrow-down"></i></a>
    </h1>
  </div>
  {% include slide.html %}
</div>

{% if page.lang=='en' %}
  {% include about-en.html %}
{% endif %}

{% if page.lang=='es' %}
{% include about.html %}
{% endif %}

{% if page.lang=='en' %}
  {% include how-en.html %}
{% endif %}

{% if page.lang=='es' %}
  {% include how.html %}
{% endif %}

{% if page.lang=='es' %}
  {% include blog.html %}
{% endif %}

{% if page.lang=='en' %}
  {% include blog-en.html %}
{% endif %}
