---
layout: default
---
<div id="hero">
  <div class="intro-hero">
    {% if page.lang=='en' %}
      <h1>We develop technology to strengthen democracies in Latin America.</h1>
    {% endif %}

    {% if page.lang=='es' %}
      <h1>Desarrollamos tecnología para fortalecer las democracias en América Latina.</h1>
    {% endif %}
  </div>
  <div class="hero-links text-center">
    <a href="#about"><i class="fal fa-angle-down animated pulse infinite"></i></a>
  </div>
  {% include slide.html %}
</div>

{% include about-es.html %}

{% if page.lang=='en' %}
  {% include how-en.html %}
{% endif %}

{% if page.lang=='es' %}
  {% include how.html %}
{% endif %}

{% include blog.html %}
