<section id="activist">
  <h3>Súmate a nuestra comunidad de Activistas Digitales</h3>
  <form action="https://docs.google.com/forms/d/1gEpzCVmsdJ0oAwW1y9UuzjV0xFAD4JLaoMVdYWdwTe4/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
    <div class="row">
      <div class="col-md-3">
        <input placeholder="Nombre y Apellido" required type="text" name="entry.2123969146" value="" class="ss-q-short" id="entry_2123969146" dir="auto" aria-label="¿Cómo te llamas? Indícanos tu nombre y apellido " aria-required="true" required="" title="">
      </div>
      <div class="col-md-3">
        <input placeholder="Email" required type="text" name="entry.1935339586" value="" class="ss-q-short" id="entry_1935339586" dir="auto" aria-label="¿Cuál es tu email? Te enviaremos información antes de lanzar nuestras campañas. Prometemos no ser spam. " aria-required="true" required="" title="">
      </div>
      <div class="col-md-3">
        <input placeholder="Twitter" required type="text" name="entry.1065704640" value="" class="ss-q-short" id="entry_1065704640" dir="auto" aria-label="¿Cuál es tu usuario en Twitter? El nuestro es @ciudadanoi " title="">
      </div>
      <div class="col-md-3">
        <input type="submit" name="submit" value="Enviar" id="ss-submit" class="btn btn-primary" role="button">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="ss-q-item-label" for="entry_1524011801"><div class="ss-q-title" style="margin-top: 16px;">¿Te gustaría recibir nuestro Newsletter?
        </div></label>

        <ul class="ss-choices list-inline" role="group" aria-label="¿Te gustaría recibir nuestro Newsletter? Una vez al mes te contaremos qué está pasando en Ciudadano Inteligente "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.989572418" value="Sí" id="group_989572418_1" role="checkbox" class="ss-q-checkbox"></span>
        <span class="ss-choice-label">Sí</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.989572418" value="No, muchas gracias" id="group_989572418_2" role="checkbox" class="ss-q-checkbox"></span>
        <span class="ss-choice-label">No, muchas gracias</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.989572418" value="¡Ya lo recibo!" id="group_989572418_3" role="checkbox" class="ss-q-checkbox"></span>
        <span class="ss-choice-label">¡Ya lo recibo!</span>
        </label></li></ul>
        <div class="error-message" id="1524011801_errorMessage"></div>
      </div>
      <div class="col-md-2">
        <input type="hidden" name="draftResponse" value="[,,&quot;-1108335310055178745&quot;]
        ">
        <input type="hidden" name="pageHistory" value="0">


        <input type="hidden" name="fbzx" value="-1108335310055178745">

        <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
        </td>
        </tr></tbody></table></div></ol>
      </div>
    </div>
  </form>
</section>
