<section id="contacto">
    <h2>Contacto</h2>





    <form method="POST" action="https://formspree.io/info@ciudadanointeligente.org" class="form">
        <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
            	<div class="ss-form-entry">
                	<label class="ss-q-item-label" for="entry_1433261566">
                		<div class="ss-q-title">Nombre:
	                    	<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
                			<span class="ss-required-asterisk">*</span>
                		</div>
                			<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                	</label>
	                <div>
                    <input type="text" name="name" class="ss-q-short" placeholder="Nombre" required/>
	                </div>
	                <div class="error-message" id="1476436785_errorMessage"></div>
	            </div>
            </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
	        <div dir="ltr" class="ss-item ss-item-required ss-text">
	        	<div class="ss-form-entry">
	            	<label class="ss-q-item-label" for="entry_1670521463">
	            		<div class="ss-q-title">Correo electrónico:
	                		<label for="itemView.getDomIdToLabel()" aria-label="(Campo obligatorio)"></label>
	            			<span class="ss-required-asterisk">*</span>
	            		</div>
	            		<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
	            	</label>
	            	<div>
                  <input type="email" name="email" placeholder="Email" required>
	            	</div>
	        	</div>
	        </div>
        </div>
        <div class="ss-form-question errorbox-good" role="listitem">
	        <div dir="ltr" class="ss-item  ss-select">
	        	<div class="ss-form-entry">
	            	<label class="ss-q-item-label" for="entry_473271821">
	            		<div class="ss-q-title">Asunto/Motivo de consulta:</div>
	            		<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
	            	</label>

                <select name="select">
                  <option value="prensa"></option>
                  <option value="prensa">Prensa</option>
                  <option value="practica">Práctia/voluntariado</option>
                  <option value="alianza">Idea de alianza o proyecto</option>
                </select>
	        	</div>
        	</div>
    	</div>
    	<div class="ss-form-question errorbox-good" role="listitem">
	        <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
	            <label class="ss-q-item-label" for="entry_1742032578">
	            	<div class="ss-q-title">Mensaje:</div>
	            	<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
	            </label>
	            <div>
                <textarea name="message" class="ss-q-long" placeholder="Mensaje" rows="8" cols="0" ></textarea>
	            </div>
	            <div class="error-message" id="1605807672_errorMessage"></div>
	        	</div>
        	</div>
    	</div>
      <input type="hidden" name="_language" value="es" />
      <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="draftResponse" value="[,,&quot;3154598330303188355&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="3154598330303188355">
        <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
        	<input class="btn btn-primary" type="submit" name="submit" value="Enviar" id="ss-submit"></td></tr></tbody></table></div></ol>
	</form>
</section>
