<header id="header" class="site-header">
  {% if page.lang=='en' %}
    {% include nav-en.html%}
  {% endif %}

  {% if page.lang=='es' %}
    {% include nav.html%}
  {% endif %}
    <!-- AUTOSCROLL -->
    <script type="text/javascript">
        $(document).ready(function(){
        $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash,
        $target = $(target);
        $('html, body').stop().animate({
        'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
        window.location.hash = target;
        });
        });
        });
    </script>
    <!-- SCROLL TO TOP -->
    <script>
        jQuery(document).ready(function() {
        var offset = 200;
        var duration = 500;
        jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
        jQuery('.scroll-to-top').fadeIn(duration);
        } else {
        jQuery('.scroll-to-top').fadeOut(duration);
        }
        });

        jQuery('.scroll-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
        })
        });
    </script>
</header>
