<div id="menu" class="header-menu fixed">
    <div class="container">
        <div class="row">
            <nav role="navigation" class="navbar navbar-expand-lg navbar-light">
              <span class="navbar-brand logo">
                <a class="nav-link" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/img/logo-ciudadanoi.svg" tabindex="1"></a>
              </span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- navigation menu-->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{{ site.baseurl }}">Inicio <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about" tabindex="3">Sobre FCI</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/team" tabindex="4">Equipo</a></li>
                  			<!-- <li class="nav-item"><a class="nav-link" href="#newsletter" tabindex="8">Directorio</a></li> -->
                  			<!-- <li class="nav-item"><a class="nav-link" href="#newsletter" tabindex="8">Reglas</a></li> -->
                        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                        {% for page in pages %}
                        <li class="nav-item">
                          <a href="{{ page.url }}" class="{{ page.lang }} nav-link small">{{ page.lang }}</a>
                        </li>
                        {% endfor %}
                    </ul>
              </div>
            </nav>
        </div>
    </div>
</div>
